<div class="credentials-layout">

  <div class="credentials-header" *ngIf="mirroredHeader">
    <div>
      <div class="login-header-button" *ngIf="headerLink === 'login'">
        <span>{{ 'header.alreadyHaveAccount' | transloco }}&nbsp;</span>
        <ng-container *transloco="let t">
          <basic-link [label]="t('header.logIn')" href="/login"/>
        </ng-container>
      </div>
      <div class="login-header-button" *ngIf="headerLink === 'registration'">
        <span>{{ 'header.newToMnemosyne' | transloco }}&nbsp;</span>
        <ng-container *transloco="let t">
          <basic-link [label]="t('header.createAcc')" href="/registration"/>
        </ng-container>
      </div>
    </div>
    <h3 class="login-header-title" (click)="handleRedirect('/')">MNEMOSYNE</h3>
  </div>

  <div class="credentials-header" *ngIf="!mirroredHeader">
    <h3 class="login-header-title" (click)="handleRedirect('/')">MNEMOSYNE</h3>
    <div>
      <div class="login-header-button" *ngIf="headerLink === 'login'">
        <span>{{ 'header.alreadyHaveAccount' | transloco }}&nbsp;</span>
        <ng-container *transloco="let t">
          <basic-link [label]="t('header.logIn')" href="/login"/>
        </ng-container>
      </div>
      <div class="login-header-button" *ngIf="headerLink === 'registration'">
        <span>{{ 'header.newToMnemosyne' | transloco }}&nbsp;</span>
        <ng-container *transloco="let t">
          <basic-link [label]="t('header.createAcc')" href="/registration"/>
        </ng-container>
      </div>
    </div>
  </div>

  <div
    *ngIf="renderSide === 'right'"
    class="credentials-layout-side right-side-hide"
  >
    <img
      *ngIf="!isAnimation"
      [ngSrc]="staticStorageLink + picture"
      [alt]="picture"
      [width]="width"
      [height]="height"
    >
    <div class="lottie-animation-container">
      <ng-lottie *ngIf="isAnimation" [options]="options" />
    </div>
  </div>
  <div class="credentials-layout-side">
    <div>
      <ng-content/>
      <div class="options-container">
        <basic-change-language/>
        <basic-theme-toggle/>
      </div>
    </div>
  </div>
  <div
    *ngIf="renderSide === 'left'"
    class="credentials-layout-side left-side-hide"
  >
    <img
      *ngIf="!isAnimation"
      [ngSrc]="staticStorageLink + picture"
      [alt]="picture"
      [width]="width"
      [height]="height"
    >
    <div class="lottie-animation-container">
      <ng-lottie *ngIf="isAnimation" [options]="options" />
    </div>
  </div>
</div>
