<ng-container *transloco="let t">
  <div class="credentials-layout">

    <div class="credentials-header" *ngIf="mirroredHeader">
      <div>
        <div class="login-header-button" *ngIf="headerLink === 'login'">
          <span>{{ t('header.alreadyHaveAccount') }}&nbsp;</span>
          <basic-link [label]="t('header.logIn')" href="/login"/>
        </div>
        <div class="login-header-button" *ngIf="headerLink === 'registration'">
          <span>{{ t('header.newToMnemosyne') }}&nbsp;</span>
          <basic-link [label]="t('header.createAcc')" href="/registration"/>
        </div>
      </div>
      <h3 class="login-header-title" (click)="handleRedirect('/')">
        MNEMOSYNE
      </h3>
    </div>

    <div class="credentials-header" *ngIf="!mirroredHeader">
      <h3 class="login-header-title" (click)="handleRedirect('/')">
        MNEMOSYNE
      </h3>
      <div>
        <div class="login-header-button" *ngIf="headerLink === 'login'">
          <span>{{ t('header.alreadyHaveAccount') }}&nbsp;</span>
          <basic-link [label]="t('header.logIn')" href="/login"/>
        </div>
        <div class="login-header-button" *ngIf="headerLink === 'registration'">
          <span>{{ t('header.newToMnemosyne') }}&nbsp;</span>
          <basic-link [label]="t('header.createAcc')" href="/registration"/>
        </div>
      </div>
    </div>

    <div
      class="credentials-layout-side"
      [ngClass]="renderSide === 'left' ? 'left left-side-hide' : 'right-side-hide'"
    >
      <img
        *ngIf="!isAnimation"
        [ngSrc]="staticStorageLink + picture"
        [alt]="picture"
        [width]="width"
        [height]="height"
      >
      <div class="lottie-animation-container">
        <ng-lottie *ngIf="isAnimation" [options]="options" />
      </div>
    </div>

    <div
      class="credentials-layout-side-content"
      [ngClass]="{ 'left': renderSide === 'left' }"
    >
      <div>
        <ng-content/>
        <div class="options-container">
          <basic-change-language/>
          <basic-theme-toggle/>
        </div>
      </div>
    </div>

  </div>
</ng-container>
