<div class="modal-container" *ngIf="showModal">
  <div class="modal-wrapper">
    <div class="window-header">
      <img
        [ngSrc]="staticStorageLink + '/icons/backarrowmodal.svg'"
        [width]="72"
        [height]="72"
        (click)="closeModal.emit()"
        alt="close"
      >
      <h3 class="modal-title" *ngIf="header">{{ header }}</h3>
    </div>
    <p class="modal-p" *ngIf="description">{{ description }}</p>
    <div class="child-wrapper">
      <ng-content></ng-content>
    </div>
  </div>
</div>
