@import 'variables';

.modal-container {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  display: flex;
  background: var(--transparent-background);
  @include z-index(modal);
}

.modal-wrapper {
  align-items: center;
  flex-direction: column;
  width: 500px;
  background: $color-white 0 0 no-repeat padding-box;
  border-radius: 6px;
  display: flex;
  padding-bottom: 15px;
  max-height: 80vh;
  overflow-y: auto;

  @media screen and (max-width: 520px) {
    width: 90%;
    margin: 15px;
  }
}

.modal-title {
  margin: 0;
}

.window-header {
  height: 72px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  color: $black;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  h3 {
    position: absolute;
    color: $black;
  }
}

.modal-p {
  margin: 0 25px;
  padding: 15px;
  font-size: 14px;
  opacity: .75;
  color: $color-black;
  border-bottom: 1px solid rgba($color-black, .1);
}

.child-wrapper {
  width: 90%;
  overflow-y: auto;
}
