<div class="welcome-title" [@fadeInOut]="true">
  <h1 class="main-title">Mnemosyne</h1>
  <h2 class="second-title">Account confirmation</h2>
</div>

<div class="window-wrapper">
  <div *ngIf="step === 1" [@fadeInOut]="step === 1">
    <h2 class="third-title">Confirm your account</h2>
  </div>

  <div *ngIf="step === 2" [@fadeInOut]="step === 2">
    <h2 class="third-title">Confirm your account</h2>
  </div>

  <div *ngIf="step === 3" [@fadeInOut]="step === 3">
    <h2 class="third-title">Confirm your account</h2>
  </div>
</div>
