<layout-credentials
  renderSide="right"
  animation="blockchain_technology5.json"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('acc-conf.accConfirm') }}&nbsp;</span>
        <basic-emoji emoji="locked-with-key.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div class="window-container">
      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="!accountConfirmationError">
        <div *ngIf="step === 1" [@fadeInOut]="true">
          <div *ngIf="!isAccountConfirmed">
            <h2 class="third-title">{{ t('acc-conf.confirmYourAcc') }}</h2>
            <p class="paragraph">{{ t('acc-conf.confirmingInProgress') }}</p>
          </div>

          <div *ngIf="isAccountConfirmed && isMfaNotSet">
            <h2 class="third-title flex">
              <span>{{ t('acc-conf.congrats') }}&nbsp;</span>
              <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
            </h2>
            <p class="paragraph">{{ t('acc-conf.accConfirmed1') }}</p>
            <p class="paragraph">
              <span>{{ t('acc-conf.accConfirmed2') }}&nbsp;</span>
              <basic-link label="Google Authenticator" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&pli=1"/>
              <span>&nbsp;{{ t('acc-conf.accConfirmed3') }}&nbsp;</span>
              <basic-link label="Microsoft Authenticator" href="https://support.microsoft.com/en-us/account-billing/download-and-install-the-microsoft-authenticator-app-351498fc-850a-45da-b7b6-27e523b8702a"/>
            </p>
            <p class="paragraph">{{ t('acc-conf.accConfirmed4') }}</p>
          </div>

          <div *ngIf="isAccountConfirmed && isRecoveryKeysNotSet">
            <h2 class="third-title flex">
              <span>{{ t('acc-conf.congrats') }}&nbsp;</span>
              <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
            </h2>
            <p class="paragraph">{{ t('acc-conf.accConfirmed1') }}</p>
            <p class="paragraph">{{ t('acc-conf.accConfirmed10') }}</p>
            <p class="paragraph">{{ t('acc-conf.accConfirmed11') }}</p>
            <p class="paragraph">{{ t('acc-conf.accConfirmed4') }}</p>
          </div>

          <div class="last-button">
            <basic-button
              [label]="t('button.continue')"
              (buttonClick)="step = 2"
            />
          </div>
        </div>

        <div *ngIf="step === 2 && isMfaNotSet" [@fadeInOut]="true">
          <page-component-mfa
            [hash]="hash"
            (confirmUserMfa)="confirmUserAccount(hash)"
          />
        </div>

        <div *ngIf="step === 2 && isRecoveryKeysNotSet" [@fadeInOut]="true">
          <page-recovery-keys
            [hash]="hash"
            (confirmRecoveryKeysSetup)="step = 3"
          />
        </div>

        <div *ngIf="step === 3" [@fadeInOut]="true">
          <h2 class="third-title flex">
            <span>{{ t('acc-conf.helloThere') }}&nbsp;</span>
            <basic-emoji emoji="waving-hand.png" [width]="32" [height]="32"/>
          </h2>
          <p class="paragraph">{{ t('acc-conf.accConfirmed5') }}</p>
          <p class="paragraph">
            <span>{{ t('acc-conf.accConfirmed6') }}&nbsp;</span>
            <b>{{ t('acc-conf.accConfirmed7') }}</b>
          </p>
          <p class="paragraph">
            <span>{{ t('acc-conf.accConfirmed8') }}</span>
            <b>Mnemosyne</b>
            <span>{{ t('acc-conf.accConfirmed9') }}</span>
          </p>

          <div class="last-button">
            <basic-button
              [label]="t('button.logIn')"
              (buttonClick)="handleRedirect('login')"
            />
          </div>
        </div>
      </div>

      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="accountConfirmationError">
        <h2 class="third-title flex">
          <span>{{ t('acc-conf.err') }}&nbsp;</span>
          <basic-emoji emoji="cross-mark.png" [width]="24" [height]="24"/>
        </h2>

        <p class="paragraph">{{ t('acc-conf.errDesc1') }}</p>
        <p class="paragraph">{{ t('acc-conf.errDesc2') }}</p>

        <div class="last-button">
          <div class="link-wrapper">
            <basic-link
              [label]="t('link.maybeForgotPass')"
              href="/forgot-password"
            />
          </div>
          <basic-button
            [label]="t('button.logIn')"
            (buttonClick)="handleRedirect('login')"
          />
        </div>
      </div>
    </div>
  </ng-container>
</layout-credentials>
