<div class="welcome-title" [@fadeInOut]="true">
  <h1 class="main-title">Mnemosyne</h1>
  <h2 class="second-title">Account confirmation</h2>
</div>

<div class="window-wrapper">
  <div *ngIf="step === 1" [@fadeInOut]="step === 1">
    <h2 class="third-title">Confirm your account</h2>

    <div *ngIf="!isAccountConfirmed">
      <p class="paragraph">Confirming your account... Doing magic in in the background...</p>
    </div>
    <div *ngIf="isAccountConfirmed"></div>

    <div class="last-button">
      <div class="link-wrapper">
        <basic-link
          label="Read more about Terms and Conditions"
          href="/tac"
        />
      </div>
      <basic-button
        label="Continue"
        (buttonClick)="step = 2"
      />
    </div>
  </div>

  <div *ngIf="step === 2" [@fadeInOut]="step === 2">
    <h2 class="third-title">Confirm your account</h2>
    <p class="paragraph">According to Security & Privacy policies of Mnemosyne you are obligated to secure your personal account with additional measures. This measure is multi-factor authentication (MFA/2FA).</p>
    <p class="paragraph">You have 2 options (<b>can be changed later</b>):</p>

    <ul class="options-list">
      <li class="option-item"><b>Phone Number</b> - every time you log in one-time SMS code will be sent to your mobile phone in order to proof your identity.</li>
      <li class="option-item"><b>Authenticator application</b> - use authenticator application (such as Google Authenticator or Microsoft Authenticator) in order to store token that will be generating one-time code for you every time you log in.</li>
    </ul>

    <basic-dropdown
      [options]="mfaOptions"
      [disabled]="isCountdownRunning"
      (selectedOption)="changeMfaOption($event)"
      defaultLabel="Select an MFA option"
    />

    <div *ngIf="selectedMfaOption?.key === 'phone'">
      <basic-input-button
        (buttonClick)="sendSmdCode()"
        (inputValueChange)="isMobilePhoneCorrect($event)"
        [inputShowError]="!isPhoneCorrect && phone.length > 0"
        [inputDisabled]="isCountdownRunning"
        [buttonLabel]="!phoneCodeSent ? 'Send code' : 'Resend code'"
        [buttonDisabled]="!isPhoneCorrect || !phone || isCountdownRunning"
        [buttonDescription]="isCountdownRunning ? resendMessage : ''"
        inputErrorMessage="Phone invalid format. Make sure the phone number matches (+1234567890)"
        placeholder="Provide you phone number"
        inputPlaceholder="Mobile phone number"
        inputDescription="Make sure you provided phone number with country code. Once you have got a message on your phone, provide the 6-digit code into the input field below."
      />
      <div *ngIf="phoneCodeSent">
        <basic-input-mfa (mfaCode)="code = $event" />
      </div>
    </div>

    <div *ngIf="selectedMfaOption?.key === 'mfa'">
      <p class="paragraph">
        Scan the QR code below using applications such as <basic-link label="Google Authenticator" [bold]="true" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&pli=1"/> or <basic-link label="Microsoft Authenticator" [bold]="true" href="https://support.microsoft.com/en-us/account-billing/download-and-install-the-microsoft-authenticator-app-351498fc-850a-45da-b7b6-27e523b8702a"/> and provide the 6-digit code in the field.
      </p>
      <div *ngIf="qrCode" class="qr-code-wrapper">
        <img [ngSrc]="qrCode" width="200" height="200" alt="qr">
      </div>
      <div class="qr-code-input-wrapper">
        <basic-input-mfa (mfaCode)="code = $event" />
      </div>
    </div>

    <div class="last-button">
      <basic-button
        label="Continue"
        [disabled]="!isAllFieldsCorrect()"
      />
    </div>
  </div>

  <div *ngIf="step === 3" [@fadeInOut]="step === 3">
    <h2 class="third-title">Confirm your account</h2>

    <p class="paragraph">Oops... It seems like you have already confirmed your account. If your account&apos;s email address is confirmed, you can feel free to log in to your account.</p>

    <div class="last-button">
      <div class="link-wrapper">
        <basic-link
          label="Or maybe you just forgot your password?"
          href="/forgot-password"
        />
      </div>
      <basic-button
        label="Log In"
        (buttonClick)="handleRedirect('/login')"
      />
    </div>
  </div>
</div>
