@import 'variables';

.welcome-title {
  text-align: center;

  .main-title {
    font-size: 48px;
    margin: 0;
  }

  .second-title {
    margin: 20px 0;
    font-size: 32px;
  }
}

.login-window-wrapper {
  width: 500px;
  height: 400px;
  border-radius: 16px;
  box-shadow: $card-shadow;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .third-title {
    margin: 0
  }
}
