@import 'variables';

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  background-color: var(--bg-color);
  border: 1px solid var(--color-hover);
  color: var(--text-color);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: .2s;
  position: relative;
  overflow: hidden;

  &.on-white {
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-shadow-hover-light;

    &:hover {
      background-color: $color-shadow-hover-light;
    }
  }

  &:disabled {
    opacity: .4;
    cursor: default;

    &:hover {
      border: 1px solid var(--color-hover);
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color-hover);
  }
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s;
  min-width: 160px;
  padding: 8px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: var(--bg-color);
  border: 1px solid var(--color-hover);
  border-radius: 4px;
  @include z-index(dropdown);

  &.on-white {
    background-color: $color-white;
    border: 1px solid $color-shadow-hover-light;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}

.dropdown-item {
  display: block;
  padding: 8px 12px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: var(--text-color);
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: .2s;

  &.on-white {
    color: $text-color;

    &:hover,
    &:focus {
      background-color: $color-shadow-hover-light;
    }

    &.active {
      background-color: $color-shadow-hover-light;
    }
  }

  &:hover,
  &:focus {
    background-color: var(--color-hover);
  }

  &.active {
    background-color: var(--color-hover);
  }
}

.dropdown-label {
  opacity: .9;
  font-size: 14px;
  margin: 14px 0;

  &.on-white {
    color: $color-black;
  }
}
