<div class="dropdown">
  <button
    class="dropdown-toggle"
    (click)="toggleDropdown()"
    [disabled]="disabled"
  >
    <basic-arrow [isArrowOpen]="isDropdownOpen" />
    {{ currentOption || defaultLabel }}
  </button>
  <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
    <button
      *ngFor="let option of options"
      [ngClass]="option.value === currentOption ? 'dropdown-item active' : 'dropdown-item'"
      (click)="onSelect(option.key)"
    >
      {{ option.value }}
    </button>
  </div>
</div>
