<layout-default>
  <ng-container *transloco="let t">
    <div class="settings-header-container">
      <div
        class="settings-header-box"
        [ngClass]="{ active: currentSection === 'personal' }"
        (click)="currentSection = 'personal'"
      >
        <h3 class="settings-header-title">{{ t('settings.personalSettings') }}</h3>
      </div>
      <div
        class="settings-header-box"
        [ngClass]="{ active: currentSection === 'security' }"
        (click)="currentSection = 'security'"
      >
        <h3 class="settings-header-title">{{ t('settings.securitySettings') }}</h3>
      </div>
    </div>

    <div *ngIf="currentSection === 'personal'">
      <dashboard-user-info-settings
        [userInfo]="userInfo"
        [userId]="userId"
        [firstName]="firstName"
        [lastName]="lastName"
        [email]="email"
        [isProfilePicPresent]="isProfilePicPresent"
        (saveUserInfoEvent)="saveUserInfo($event)"
      />
    </div>

    <div *ngIf="currentSection === 'security' && userSecurity">
      <dashboard-security-settings
        [userSecurity]="userSecurity"
        (setTwoFa)="setTwoFa()"
        (unsetTwoFa)="disableTwoFa()"
        (setPhone)="setPhone()"
        (unsetPhone)="disableMobilePhone()"
        (passwordChanged)="passwordChanged()"
        (changeEmailSent)="changeEmailSent()"
        (userSettingsReInit)="getUserSecuritySettings()"
        (accountDeleted)="accountDeleted()"
      />
    </div>
  </ng-container>
</layout-default>
