<div class="input-container">
  <p class="input-label" *ngIf="label">{{ label }}</p>
  <input
    class="input-field"
    [ngClass]="{
    'disabled': disabled || loaderService.getStatus(),
    'error': showError,
    'password-size': ['password-repeat', 'password'].includes(type) && value && value.length > 0
    }"
    [disabled]="disabled"
    [(ngModel)]="value"
    [type]="type === 'password-repeat' ? 'password' : type"
    [placeholder]="placeholder"
    (input)="onInput()"
  />
  <p
    class="error-message"
    *ngIf="showError"
    [@showErrorAnimation]="true"
    [class.show-error]="showError"
  >
    {{ errorMessage }}
  </p>
  <p class="input-description" *ngIf="inputDescription">
    {{ inputDescription }}
  </p>
</div>
