@import 'variables';

.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-label {
  opacity: .9;
  font-size: 14px;
  margin: 14px 0;

  &.on-white {
    color: $color-black;
  }
}

.input-field {
  width: 100%;
  height: 36px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--main-color-border);
  border-radius: 5px;
  background-color: var(--bg-color);
  transition: all 0.3s;
  color: var(--text-color);

  &.password-size {
    font-size: 20px;
  }

  &::placeholder {
    color: var(--text-color);
    opacity: .5;
  }

  &.on-white {
    border: 1px solid rgba($color-main-border, .5);
    background-color: $color-white;
    color: $text-color;

    &::placeholder {
      color: $text-color;
      opacity: .5;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      background-color: $color-white;
      border: 1px solid rgba($color-black, .1);
    }
  }

  &.high {
    height: 48px;
  }

  &.onError {
    border: 1px solid var(--error-color);
  }

  &:focus {
    outline: none;
    box-shadow: var(--input-shadow);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
  }

  &.error {
    border: 1px solid var(--error-color);
    transition: border-color 0.3s ease-in-out;
  }

  &.disabled {
    opacity: 0.4;
  }

  &.read-only {
    cursor: pointer;
    pointer-events: none;
  }
}

.error-message {
  color: var(--error-color);
  font-size: small;
  font-weight: 400;
  margin-top: 5px;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.show-error {
    max-height: 20px;
    opacity: 1;
  }
}

.input-description {
  font-size: small;
  margin-top: 5px;

  &.on-white {
    color: $color-black;
  }
}
