<div class="input-container">
  <p
    class="input-label"
    [ngClass]="{ 'on-white': onWhite }"
    *ngIf="label"
  >{{ label }}</p>
  <div
    *ngIf="readOnly"
    [copy-clipboard]="value"
    (copied)="notifyClipboardCopy()"
  >
    <input
      class="input-field read-only"
      [ngClass]="{ 'on-white': onWhite }"
      [disabled]="true"
      [(ngModel)]="value"
      [placeholder]="placeholder"
    />
  </div>
  <div *ngIf="!readOnly">
    <input
      class="input-field"
      [ngClass]="{
        'disabled': disabled || loaderService.getStatus(),
        'error': showError,
        'password-size': passwordFontSize(),
        'on-white': onWhite
      }"
      [disabled]="disabled"
      [(ngModel)]="value"
      [type]="passwordTypes.includes(type) ? 'password' : type"
      [placeholder]="placeholder"
      (input)="onInput()"
      (keyup.space)="onSpaceClick()"
    />
  </div>
  <p
    class="error-message"
    *ngIf="showError"
    [@showErrorAnimation]="true"
    [class.show-error]="showError"
  >
    {{ errorMessage }}
  </p>
  <p
    class="input-description"
    [ngClass]="{ 'on-white': onWhite }"
    [@descriptionAnimation]="true"
    *ngIf="inputDescription && !showError"
  >
    {{ inputDescription }}
  </p>
</div>
