@import 'variables';

.welcome-title {
  text-align: center;

  .main-title {
    font-size: 48px;
    margin: 0;
  }

  .second-title {
    margin: 20px 0;
    font-size: 32px;
  }
}

.window-wrapper {
  width: 500px;
  border-radius: 16px;
  box-shadow: $card-shadow;
  padding: 20px;
  transition: .3s;

  .paragraph {
    color: $color-dark-grey;
    font-size: 14px;
    margin-top: 20px;
  }

  .third-title {
    margin: 0
  }

  .flex-wrapper {
    justify-content: center;
    align-items: baseline;
    display: flex;
    padding: 15px 0;
  }

  &.bottom {
    margin-top: 30px;
    padding: 0;
  }

  .errors-box {
    transition: opacity 0.3s ease-in-out;

    .error-item {
      font-size: 13px;
      color: $color-dark-grey;
      display: inline-grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      padding: 5px;
      margin: 5px 0;

      .circle {
        height: 16px;
        width: 16px;
        background-color: rgba($success-color, .5);
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;

        &.error {
          background-color: rgba($warn-color, .5);
        }
      }
    }
  }


  .last-button {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba($color-light-grey, .5);

    .link-wrapper {
      margin-bottom: 20px;
    }
  }
}
