@import 'variables';

.welcome-title {
  text-align: center;

  .main-title {
    font-size: 48px;
    margin: 0;
  }

  .second-title {
    margin: 20px 0;
    font-size: 32px;
  }
}

.window-wrapper {
  width: 500px;
  border-radius: 16px;
  box-shadow: $card-shadow;
  padding: 20px;

  .third-title {
    margin: 0
  }

  .flex-wrapper {
    justify-content: center;
    align-items: baseline;
    display: flex;
  }

  &.bottom {
    margin-top: 30px;
    padding: 0;
  }
}
