@import 'variables';

.marketplace-company-container {
  width: 60%;
  margin: 30px auto 0 auto;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
}

.marketplace-company-container-info {
  display: flex;
  justify-content: space-around;
}

.marketplace-container-info {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 8px;
  transition: .2s;
  margin: 15px;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: var(--main-color-hover);
    }
  }
}

.marketplace-company-website {
  color: var(--main-color);
  text-decoration: underline;
}

.marketplace-company-title {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.company-header-container {
  width: 60%;
  height: 60px;
  display: flex;
  margin: 0 auto;
}

.company-section {
  width: 60%;
  margin: 0 auto;
}

.company-header-box {
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid var(--main-color);
  cursor: pointer;

  &.active {
    border-bottom: 3px solid var(--main-color);

    .company-header-title {
      font-weight: 600;
    }
  }

  &:hover {
    border-bottom: 3px solid var(--main-color);
  }
}

.company-header-title {
  font-weight: 300;
}

.marketplace-container {
  min-height: 100vh;
  width: 100%;
}

.marketplace-area {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.marketplace-filters {
  position: absolute;
  width: 250px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  left: -250px;
}

.marketplace-title {
  font-size: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  margin: 0 20px;
}

.marketplace-search-area {
  margin: 0 20px;
  padding-bottom: 20px;
}

.marketplace-order-items {
  display: flex;
}

.marketplace-order-items-buttons {
  display: flex;
}

.marketplace-filters-layouts {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.layout-icon {
  filter: var(--svg-color);
}

.marketplace-order-item {
  width: 100%;

  &.margin-right {
    margin-right: 5px;
  }

  &.margin-left {
    margin-left: 5px;
  }
}

.marketplace-order-desc {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 400;
}

.order-by-button {
  min-height: 36px;
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--main-color-border);
  transition: .3s;
  background-color: var(--bg-color);
  color: var(--text-color);

  &.left-border {
    border-radius: 5px 0 0 5px;
  }

  &.right-border {
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    background-color: var(--color-hover);
  }

  &.active {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);

    &:hover {
      background-color: var(--main-color-hover) !important;
    }
  }
}

.order-by-button-label {
  margin: 5px;
  font-size: 14px;
  font-weight: 400;
}

.marketplace-filters-title {
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.marketplace-filters-container {
  padding: 0 20px;

  &.margin-bottom {
    margin-bottom: 10px
  }
}

.marketplace-filters-subtitle {
  border-top: 1px solid var(--border-color);
  margin-top: 10px;
  padding-top: 10px;
}

.marketplace-price-error {
  opacity: .75;
  color: var(--error-color);
}

.marketplace-clear-filters-button-wrapper {
  margin-top: 5px;
}
