<layout-default
  [showHeaderBurger]="false"
>
  <ng-container *transloco="let t">
    <div class="create-product-container">
      <div class="create-product-block">
        <h1>{{ t('create-product.createProductTitle') }}</h1>

        <div class="info-product-container">
          <h2>{{ t('create-product.productDetailsTitle') }}</h2>
          <basic-input
            [label]="t('input.productLabel')"
            [placeholder]="t('input.productPlaceholder')"
            [inputDescription]="t('input.productInputDesc')"
            [errorMessage]="t('input.productError')"
            [minLength]="16"
            [maxLength]="70"
            [value]="productTitle"
            (valueChange)="productTitle = $event"
            (incorrectInput)="incorrectProductTitle = $event"
          />

          <div class="product-category-dropdown">
             <basic-dropdown
              [label]="t('dropdown.selectProductCategoryLabel')"
              [options]="categoriesDropdown"
              [defaultValue]="categoryDropdownValue"
              (selectedOption)="selectProductCategory($event)"
            />
          </div>

          <div class="dived-line" *ngIf="categoryDropdownValue.key !== 'selectProductCategory'"></div>

          <div class="product-category-dropdown" *ngIf="categoryDropdownValue.key !== 'selectProductCategory'">
            <basic-dropdown
              [label]="t(getSubcategoryDropdownLabel(categoryDropdownValue.key))"
              [options]="subcategoriesDropdown"
              [defaultValue]="subcategoryDropdownValue"
              (selectedOption)="selectProductSubcategory($event)"
            />
          </div>
          <p class="subcategory-description" *ngIf="categoryDropdownValue.key !== 'selectProductCategory'">
            {{ t(getCategoryDescription(categoryDropdownValue.key)) }}
          </p>
        </div>

        <div class="info-product-container">
          <h2>{{ t('create-product.productPicsTitle') }}</h2>

          <img
            *ngIf="preview"
            [src]="preview"
            [width]="300"
            [height]="300"
          />
          <img
            *ngIf="!preview"
            [ngSrc]="userProfilePictureLink"
            [width]="300"
            [height]="300"
          />

          <div
            class="select-photo-button"
            (click)="fileInput.click();"
          >
            <span class="select-photo-button-text">select photo</span>
          </div>

          <input
            type="file"
            accept="image/*"
            (change)="selectFile($event)"
            #fileInput
            hidden
          />
        </div>

        <div class="info-product-container">
          <h2>{{ t('create-product.productDescTitle') }}</h2>
          <basic-textarea
            [label]="t('input.productDescriptionTitle')"
            [placeholder]="t('input.productDescriptionPlaceholder')"
            [inputDescription]="t('input.productDescriptionInputDesc')"
            [errorMessage]="t('input.productDescriptionError')"
            [minLength]="40"
            [maxLength]="9000"
            [value]="productDescription"
            (valueChange)="productDescription = $event"
            (incorrectInput)="incorrectProductDescription = $event"
          />
        </div>

        <div class="info-product-container">
          <h2>{{ t('create-product.contactInfoTitle') }}</h2>
          <div class="product-contact-fields">
            <basic-input
              [label]="t('input.contactPersonLabel')"
              [placeholder]="t('input.contactPersonPlaceholder')"
              [inputDescription]="t('input.contactPersonInputDesc')"
              [errorMessage]="t('input.contactPersonError')"
              [value]="contactPerson"
              [minLength]="1"
              [maxLength]="64"
              (valueChange)="contactPerson = $event"
              (incorrectInput)="incorrectContactPerson = $event"
            />
            <basic-input
              [label]="t('input.email')"
              [placeholder]="t('input.provideEmail')"
              [value]="contactEmail"
              [readOnly]="true"
              [disabled]="true"
              [inputDescription]="t('input.productContactEmailInputDesc')"
            />
            <basic-input
              [label]="t('input.phone')"
              [placeholder]="t('input.productPhonePlaceholder')"
              [inputDescription]="t('input.productPhoneInputDesc')"
              [errorMessage]="t('input.productPhoneError')"
              [showError]="!!contactPhoneNumber && !isMobilePhoneCorrect()"
              [value]="contactPhoneNumber"
              (valueChange)="contactPhoneNumber = $event"
            />
            <basic-input
              [label]="t('input.productLocationLabel')"
              [placeholder]="t('input.productLocationPlaceholder')"
              [inputDescription]="t('input.productLocationInputDesc')"
              [value]="productLocation"
              (valueChange)="productLocation = $event"
            />
          </div>
        </div>

        <div class="info-product-container">
          <h2>{{ t('create-product.productPriceTitle') }}</h2>
          <div class="product-category-dropdown">
            <basic-dropdown
              [label]="t('dropdown.selectCurrency')"
              [options]="productPriceDropdown"
              [defaultValue]="productPriceDropdownValue"
              (selectedOption)="selectProductCurrency($event)"
            />
          </div>
          <basic-input
            type="number"
            [label]="t('input.productPriceLabel')"
            [placeholder]="t('input.productPricePlaceholder')"
            [inputDescription]="t('input.productPriceInputDesc')"
            [errorMessage]="t('input.productPriceError')"
            [min]="'0'"
            [showError]="checkProductPrice()"
            [value]="productPrice"
            (valueChange)="productPrice = $event"
          />
        </div>

        <div class="buttons-product-container">
          <div>
            <p>{{ t('create-product.postProductAccept') }}&nbsp;<basic-link
              [label]="t('reg.tac')" href="/terms-and-conditions"
            /></p>
          </div>
          <div class="post-button-container">
            <basic-button
              [label]="t('button.postProduct')"
              [disabled]="disablePostProductButton()"
              (buttonClick)="postProduct()"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</layout-default>
