@import 'variables';

.create-product-container {
  width: 100%;
}

.create-product-block {
  width: 70%;
  margin: 0 auto;
}

.info-product-container {
  background-color: var(--disabled-color);
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 30px;

  h2 {
    padding: 0;
    margin: 0;
  }
}
