<layout-default
  [showHeaderBurger]="false"
>
  <ng-container *transloco="let t">
    <div class="create-product-container">
      <div class="create-product-block">
        <h1>{{ t('create-product.createProductTitle') }}</h1>

        <div class="info-product-container">
          <h2>{{ t('create-product.productDetailsTitle') }}</h2>
          <basic-input
            [label]="t('input.productTitle')"
            [placeholder]="t('input.productPlaceholder')"
            [inputDescription]="t('input.productInputDesc')"
            [errorMessage]="t('input.productError')"
            [minLength]="16"
            [maxLength]="70"
            [value]="productTitle"
            (valueChange)="productTitle = $event"
            (incorrectInput)="incorrectProductTitle = $event"
          />

          <div class="product-category-dropdown">
             <basic-dropdown
              [label]="t('dropdown.selectProductCategoryLabel')"
              [options]="categoriesDropdown"
              [defaultValue]="categoryDropdownValue"
              (selectedOption)="selectProductCategory($event)"
            />
          </div>

          <div class="dived-line" *ngIf="categoryDropdownValue.key !== 'selectProductCategory'"></div>

          <div class="product-category-dropdown" *ngIf="categoryDropdownValue.key !== 'selectProductCategory'">
            <basic-dropdown
              [label]="t(getSubcategoryDropdownLabel(categoryDropdownValue.key))"
              [options]="subcategoriesDropdown"
              [defaultValue]="subcategoryDropdownValue"
              (selectedOption)="selectProductSubcategory($event)"
            />
          </div>
          <p class="subcategory-description" *ngIf="categoryDropdownValue.key !== 'selectProductCategory'">
            {{ t(getCategoryDescription(categoryDropdownValue.key)) }}
          </p>
        </div>

        <div class="info-product-container">
          <h2>{{ t('create-product.productPicsTitle') }}</h2>
        </div>

        <div class="info-product-container">
          <h2>{{ t('create-product.productDescTitle') }}</h2>
          <basic-textarea
            [label]="t('input.productDescriptionTitle')"
            [placeholder]="t('input.productDescriptionPlaceholder')"
            [inputDescription]="t('input.productDescriptionInputDesc')"
            [errorMessage]="t('input.productDescriptionError')"
            [minLength]="40"
            [maxLength]="9000"
            [value]="productDescription"
            (valueChange)="productDescription = $event"
            (incorrectInput)="incorrectProductDescription = $event"
          />
        </div>

        <div class="info-product-container">
          <h2>Contact data</h2>
        </div>
      </div>
    </div>
  </ng-container>
</layout-default>
