@import 'variables';

.sidebar-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: map-get($z-index, sidebar);
  background-color: rgba($color-light-grey, .8);
}

.sidebar-box {
  height: 100vh;
  width: 500px;
  background-color: $color-white;
}
