@import 'variables';

.title-container {
  display: flex;
  align-items: center;
}

.section-title {
  margin-left: 15px;
}

.info-changed {
  margin-bottom: 20px;
}

.info-changed-text {
  color: var(--error-color);
  font-size: 12px;
  font-weight: 400;
}
