<ng-container *transloco="let t">
  <div class="user-photo-container">
    <div class="user-photo" (mouseenter)="showText = true" (mouseleave)="showText = false">
      <img
        *ngIf="preview"
        [src]="preview"
        class="user-photo"
        alt="avatar"
        [width]="300"
        [height]="300"
      />
      <img
        *ngIf="!preview"
        [ngSrc]="userProfilePictureLink"
        class="user-photo"
        alt="avatar"
        [width]="300"
        [height]="300"
      />

      <div
        class="select-photo-button"
        *ngIf="showText"
        (click)="fileInput.click();"
      >
        <span class="select-photo-button-text">{{ t('settings.selectPhoto') }}</span>
      </div>
    </div>

    <p class="upload-photo-description">{{ t('settings.uploadPhotoDescription') }}</p>

    <basic-button
      [label]="t('button.upload')"
      [disabled]="!selectedFiles"
      (click)="upload()"
    />

    <input
      type="file"
      accept="image/*"
      (change)="selectFile($event)"
      #fileInput
      hidden
    />
  </div>
</ng-container>
