<header [ngClass]="{'hide': scrolled}">
  <div class="header-content">
    <div class="header-side">
      <img
        *ngIf="showHeaderBurger"
        class="sidebar-burger"
        (click)="openSidebar.emit()"
        [ngSrc]="staticStorageLink + '/icons/hamburger.svg'"
        [width]="25"
        [height]="25"
        alt="burger"
      >
    </div>

    <div class="header-side" *ngIf="!isUserLoggedIn">
      <ng-container *transloco="let t">
        <basic-button
          [label]="t('button.logIn')"
          (buttonClick)="handleRedirect('login')"
        />
        <div class="header-button-wrapper">
          <basic-button
            [label]="t('button.createAcc')"
            [fillButton]="true"
            (buttonClick)="handleRedirect('registration')"
          />
        </div>
      </ng-container>
      <basic-theme-toggle/>
      <div class="lang-button-wrapper">
        <basic-change-language/>
      </div>
    </div>

    <div class="header-side" *ngIf="isUserLoggedIn">
      <ng-container *transloco="let t">
        <basic-button
          [label]="t('button.dashboard')"
          (buttonClick)="handleRedirect('account/dashboard')"
        />
        <div class="header-button-wrapper">
          <basic-button
            [label]="t('button.logOut')"
            [danger]="true"
            (buttonClick)="logout()"
          />
        </div>
      </ng-container>
      <basic-theme-toggle/>
      <div class="lang-button-wrapper">
        <basic-change-language/>
      </div>
    </div>
  </div>
</header>
