@import 'variables';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  transition: transform 0.3s ease-in-out;
  box-shadow: var(--card-shadow);
  background-color: var(--bg-color);
  @include z-index(header);
}

.header-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-side {
  display: flex;
  align-items: center;
}

.header-button-wrapper {
  margin: 0 10px;
}

.lang-button-wrapper {
  margin: 0 5px;
}

.sidebar-burger {
  cursor: pointer;
}

.hide {
  transform: translateY(-100%);
}
