<ng-container *transloco="let t">
  <header [ngClass]="{'hide': scrolled}">
    <div class="header-content">
      <div class="header-side">
        <img
          class="sidebar-burger"
          *ngIf="showHeaderBurger"
          (click)="openSidebar.emit()"
          [ngSrc]="staticStorageLink + '/icons/hamburger.svg'"
          [width]="25"
          [height]="25"
          alt="burger"
        >
        <h3
          class="sidebar-header"
          (click)="handleRedirect('')"
          *ngIf="!showHeaderBurger"
        >Mnemosyne</h3>
      </div>

      <div class="header-products-search">
        <div class="header-products-search-input" (click)="showSearchProductsModal = true">
          <basic-input [placeholder]="t('input.searchForProductsHeader')"/>
        </div>
        <div class="header-products-search-btn">
          <basic-button
            [label]="t('button.goToMarketplace')"
            (buttonClick)="handleRedirect('marketplace')"
          />
        </div>
      </div>

      <div class="header-side" *ngIf="!isUserLoggedIn">
        <basic-button
          [label]="t('button.logIn')"
          (buttonClick)="handleRedirect('login')"
        />
        <div class="header-button-wrapper">
          <basic-button
            [label]="t('button.createAcc')"
            [fillButton]="true"
            (buttonClick)="handleRedirect('registration')"
          />
        </div>
        <basic-theme-toggle/>
        <div class="lang-button-wrapper">
          <basic-change-language/>
        </div>
      </div>

      <div class="header-side" *ngIf="isUserLoggedIn">
        <div class="user-account-wrapper" (click)="handleRedirect('account/dashboard')">
          <p class="user-account-title">{{ t('sidebar.yourAccountSidebarTitle') }}</p>
          <img
            class="user-account-icon"
            [ngSrc]="userIcon"
            [width]="24"
            [height]="24"
            alt="user"
          >
        </div>
        <div class="header-button-wrapper">
          <basic-button
            [label]="t('button.logOut')"
            [danger]="true"
            (buttonClick)="logout()"
          />
        </div>
        <basic-theme-toggle/>
        <div class="lang-button-wrapper">
          <basic-change-language/>
        </div>
      </div>
    </div>
  </header>
</ng-container>

<page-products-modal-search
  [showModal]="showSearchProductsModal"
  (closeModal)="closeSearchProductsModal()"
/>
