<layout-credentials
  renderSide="left"
  headerLink="registration"
  animation="blockchain_technology2.json"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="false"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('login.welcomeBack') }}&nbsp;</span>
        <basic-emoji emoji="raised-hand.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div class="window-container">
      <div
        class="window-wrapper"
        [@fadeInOut]="true"
        *ngIf="step === 1 && isMfaNotSet"
      >
        <page-component-mfa
          [email]="email"
          [password]="password"
          (confirmUserMfa)="handleLogIn()"
        />
      </div>

      <div
        class="window-wrapper"
        [@fadeInOut]="true"
        *ngIf="step === 1 && isRecoveryKeysNotSet"
      >
        <page-recovery-keys
          [email]="email"
          [password]="password"
          (confirmRecoveryKeysSetup)="step = 2"
        />
      </div>

      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 2">
        <h2 class="third-title">{{ t('login.logIn') }}</h2>
        <basic-input
          [label]="t('input.email')"
          [placeholder]="t('input.provideEmail')"
          type="email"
          [errorMessage]="t('input.wrongEmailFormat')"
          [value]="email"
          (valueChange)="email = $event"
          (incorrectInput)="incorrectEmail = $event"
        />
        <basic-input
          [label]="t('input.providePass')"
          [placeholder]="t('input.pass')"
          type="password"
          [errorMessage]="t('input.wrongPassFormat')"
          [value]="password"
          (valueChange)="password = $event"
          (incorrectInput)="incorrectPassword = $event"
        />
        <div class="last-button">
          <div class="link-wrapper">
            <basic-link
              [label]="t('link.forgotPass')"
              href="/forgot-password"
            />
          </div>
          <basic-button
            [label]="t('button.logIn')"
            [disabled]="incorrectCredentials()"
            (buttonClick)="handleLogIn()"
          />
        </div>
      </div>

      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 3">
        <h2 class="third-title">{{ t('login.addVerification') }}</h2>

        <div *ngIf="isPhoneRequired">
          <p class="paragraph mfa-title-wrapper">{{ t('login.smsCode') }}</p>
          <basic-input-mfa
            [isPhone]="true"
            (mfaCode)="phoneCode = $event"
            (resendSms)="resendSmsCode()"
          />
        </div>
        <div *ngIf="isMfaRequired">
          <p class="paragraph mfa-title-wrapper">{{ t('login.mobileCode') }}</p>
          <basic-input-mfa (mfaCode)="mfaCode = $event" />
        </div>

        <div class="last-button">
          <div class="link-wrapper">
            <basic-link
              [label]="t('link.mfaNoAccess')"
              href="/recover-account"
            />
          </div>
          <basic-button
            [label]="t('button.logIn')"
            [fillButton]="true"
            [disabled]="loginMfaButtonDisabled()"
            (buttonClick)="handleLogIn()"
          />
        </div>
      </div>
    </div>
  </ng-container>
</layout-credentials>
