<layout-credentials
  renderSide="left"
  headerLink="registration"
  animation="blockchain_technology2.json"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="false"
>
  <div class="welcome-title" [@fadeInOut]="true">
    <h1 class="main-title">Mnemosyne</h1>
    <h2 class="second-title flex">
      <span>{{ 'login.welcomeBack' | transloco }}&nbsp;</span>
      <emoji emoji="raised-hand.png" [width]="48" [height]="48"/>
    </h2>
  </div>

  <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 0">
    <page-component-mfa
      [email]="email"
      [password]="password"
      (confirmUserMfa)="confirmUserMfa()"
    />
  </div>

  <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 1">
    <h2 class="third-title">{{ 'login.logIn' | transloco }}</h2>
    <ng-container *transloco="let t">
      <basic-input
        [label]="t('input.provideEmail')"
        [placeholder]="t('input.email')"
        type="email"
        [errorMessage]="t('input.wrongEmailFormat')"
        [value]="email"
        (valueChange)="email = $event"
        (incorrectInput)="incorrectEmail = $event"
      />
      <basic-input
        [label]="t('input.providePass')"
        [placeholder]="t('input.pass')"
        type="password"
        [errorMessage]="t('input.wrongPassFormat')"
        [value]="password"
        (valueChange)="password = $event"
        (incorrectInput)="incorrectPassword = $event"
      />
      <div class="last-button">
        <div class="link-wrapper">
          <basic-link
            [label]="t('link.forgotPass')"
            href="/forgot-password"
          />
        </div>
        <basic-button
          [label]="t('button.logIn')"
          [disabled]="isAllCredentialsCorrect()"
          (buttonClick)="handleLogIn()"
        />
      </div>
    </ng-container>
  </div>

  <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 2">
    <ng-container *transloco="let t">
      <h2 class="third-title">{{ t('login.addVerification') }}</h2>

      <div *ngIf="isPhoneRequired">
        <p class="paragraph mfa-title-wrapper">{{ t('login.smsCode') }}</p>
        <basic-input-mfa
          [isPhone]="true"
          (mfaCode)="mfaChangeHandler({ phoneCode: $event })"
          (resendSms)="this.resendSmsCode()"
        />
      </div>
      <div *ngIf="isMfaRequired">
        <p class="paragraph mfa-title-wrapper">{{ t('login.mobileCode') }}</p>
        <basic-input-mfa (mfaCode)="mfaChangeHandler({ mfaCode: $event })" />
      </div>

      <div class="last-button">
        <div class="link-wrapper">
          <basic-link
            [label]="t('link.mfaNoAccess')"
            href="/"
          />
        </div>
        <basic-button
          [label]="t('button.logIn')"
          [fillButton]="true"
          [disabled]="loginMfaButtonDisabled()"
          (buttonClick)="handleLogIn()"
        />
      </div>
    </ng-container>
  </div>
</layout-credentials>
