<div class="welcome-title">
  <h1 class="main-title">Mnemosyne</h1>
  <h2 class="second-title">Welcome back</h2>
</div>
<div class="window-wrapper">
  <h2 class="third-title">Log in</h2>
  <basic-input
    label="Provide your email address"
    placeholder="Email"
    type="email"
    [value]="email"
    (valueChange)="email = $event"
    (incorrectInput)="incorrectCredentials = $event"
  />
  <basic-input
    label="Provide your password"
    placeholder="Password"
    type="password"
    [value]="password"
    (valueChange)="password = $event"
    (incorrectInput)="incorrectCredentials = $event"
  />
  <basic-link
    label="Forgot password?"
    href="/forgot-password"
  />
  <basic-button
    label="Log in"
    [disabled]="incorrectCredentials"
    (buttonClick)="handleLogIn()"
  />
</div>

<div class="window-wrapper bottom">
  <div class="flex-wrapper">
    <p>New to Mnemosyne?</p>&nbsp;<basic-link label="Create an account!" href="/registration" />
  </div>
</div>
