<ng-container *transloco="let t">
  <div
    class="product-block"
    (click)="handleRedirect('/marketplace/product/' + slug)"
    *ngIf="layoutView === 'grid'"
  >
    <img
      *ngIf="mainPicture"
      class="product-picture-preview"
      [src]="productPicturesBucket + mainPicture + '.png'"
      [width]="300"
      [height]="200"
      alt="Product picture"
    >
    <img
      *ngIf="!mainPicture"
      class="no-picture-icon"
      [src]="uploadPictureIcon"
      [width]="300"
      [height]="200"
      alt="Product picture"
    >
    <h3>{{ productTitle }}</h3>
    <p><b>{{ t('product.productCategory') }}:</b> {{ t(translateCategory(category)) }}</p>
    <p><b>{{ t('product.productSubcategory') }}:</b> {{ t(translateSubcategory(category, subcategory)) }}</p>
    <p><b>{{ t('product.productPrice') }}:</b> {{ price }} {{ currency }}</p>
    <p><b>{{ t('product.productCreatedAt') }}:</b> {{ transformDate(createdAt) }}</p>

    <div
      class="product-add-to-favorites grid"
      [ngClass]="{ 'active': productInFavorites }"
      (click)="handleProductFavorite($event)"
    >
      <p class="product-add-to-favorites-p">
        {{ t('product.addToFavorites') }}:
      </p>
      <img
        class="product-favorite-icon"
        [ngClass]="{ 'active': productInFavorites }"
        [ngSrc]="addToFavoriteIcon"
        [width]="16"
        [height]="16"
        alt="Add to favorite"
      >
    </div>

    <div *ngIf="showAdditionalInfo">
      <h4 class="product-additional-info">{{ t('product.productAdditionalInfo') }}</h4>

      <p><b>{{ t('product.productLocation') }}:</b> {{ location }}</p>
      <p><b>{{ t('product.productContactPerson') }}:</b> {{ contactPerson }}</p>
      <p><b>{{ t('product.productContactPhone') }}:</b> {{ contactPhone }}</p>
    </div>

    <div class="product-management-buttons" *ngIf="showManagementButtons">
      <div class="product-management-button margin-right">
        <basic-button
          [label]="t('button.editProduct')"
          [fillButton]="true"
          (buttonClick)="handleRedirect('/marketplace/product/' + slug + '/edit')"
        />
      </div>
      <div
        class="product-management-button margin-left"
        (click)="openDeleteProductModal($event)"
      >
        <basic-button
          [label]="t('button.deleteProduct')"
          [danger]="true"
        />
      </div>
    </div>
  </div>

  <div
    [ngClass]="showAdditionalInfo || showManagementButtons ? 'product-list-item center' : 'product-list-item'"
    (click)="handleRedirect('/marketplace/product/' + slug)"
    *ngIf="layoutView === 'list'"
  >
    <img
      *ngIf="mainPicture"
      class="product-picture-preview-list"
      [src]="productPicturesBucket + mainPicture + '.png'"
      alt="Product picture"
    >
    <div *ngIf="!mainPicture" class="no-picture-icon-list-wrapper">
      <img
        *ngIf="!mainPicture"
        class="no-picture-icon-list"
        [src]="uploadPictureIcon"
        [width]="300"
        [height]="200"
        alt="Product picture"
      >
    </div>
    <div class="product-info-list">
      <div class="product-info-list-item">
        <h1>{{ productTitle }}</h1>
        <p>{{ price }} {{ currency }}</p>
      </div>

      <div class="product-info">
        <div>
          <p><b>{{ t('product.productCategory') }}:</b> {{ t(translateCategory(category)) }}</p>
          <p><b>{{ t('product.productSubcategory') }}:</b> {{ t(translateSubcategory(category, subcategory)) }}</p>
          <p><b>{{ t('product.productCreatedAt') }}:</b> {{ transformDate(createdAt) }}</p>
        </div>
        <div
          class="product-add-to-favorites"
          [ngClass]="{ 'active': productInFavorites }"
          (click)="handleProductFavorite($event)"
        >
          <p class="product-add-to-favorites-p">
            {{ t('product.addToFavorites') }}:
          </p>
          <img
            class="product-favorite-icon"
            [ngClass]="{ 'active': productInFavorites }"
            [ngSrc]="addToFavoriteIcon"
            [width]="16"
            [height]="16"
            alt="Add to favorite"
          >
        </div>
      </div>

      <div *ngIf="showAdditionalInfo">
        <h4 class="product-additional-info">{{ t('product.productAdditionalInfo') }}</h4>

        <p><b>{{ t('product.productLocation') }}:</b> {{ location }}</p>
        <p><b>{{ t('product.productContactPerson') }}:</b> {{ contactPerson }}</p>
        <p><b>{{ t('product.productContactPhone') }}:</b> {{ contactPhone }}</p>
      </div>

      <div class="product-management-buttons" *ngIf="showManagementButtons">
        <div class="product-management-button margin-right">
          <basic-button
            [label]="t('button.editProduct')"
            [fillButton]="true"
            (buttonClick)="handleRedirect('/marketplace/product/' + slug + '/edit')"
          />
        </div>
        <div
          class="product-management-button margin-left"
          (click)="openDeleteProductModal($event)"
        >
          <basic-button
            [label]="t('button.deleteProduct')"
            [danger]="true"
          />
        </div>
      </div>
    </div>
  </div>

  <basic-modal
    [header]="t('product.deleteProductModalHeader')"
    [description]="t('product.deleteProductModalDesc')"
    [showModal]="showDeleteProductModal"
    (closeModal)="closeDeleteProductModal()"
  >
    <p class="modal-paragraph">{{ t('product.productDeletionInstruction') }}</p>
    <basic-input
      [onWhite]="true"
      [label]="t('input.provideFullName')"
      [placeholder]="t('input.fullName')"
      [inputDescription]="t('input.accDeletionFullName')"
      [value]="deleteProductFullName"
      (valueChange)="deleteProductFullName = $event"
    />
    <div class="deletion-button">
      <basic-button
        [label]="t('button.deleteProduct')"
        (buttonClick)="deleteProduct()"
        [disabled]="!deleteProductFullName"
        [onWhite]="true"
        [danger]="true"
      />
    </div>
  </basic-modal>
</ng-container>

