@import 'variables';

.security-setting-section {
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid var(--border-color);
  transition: .2s;
  display: flex;
  align-items: center;

  &.danger {
    border-bottom: 1px solid var(--error-color-light);
    &:hover {
      border-bottom: 1px solid var(--error-color);
    }
  }

  &:hover {
    border-bottom: 1px solid var(--main-color-border);
  }
}

.security-setting-section-content {
  width: 100%;
  height: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  width: 70%;
}

.flex {
  display: flex;
}

.security-setting-section-icon {
  margin-right: 10px;
}

.button-section {
  width: 20%;
}

.security-setting-section-title {
  font-weight: 600;
  font-size: 20px;
}

.security-setting-section-p {
  font-size: 14px;
  margin-top: 10px;
}

.info-changed {
  margin-bottom: 20px;
}

.info-changed-text {
  color: var(--error-color);
  font-size: 12px;
  font-weight: 400;
}

.dived-line {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin: 20px 0;

  &.no-bottom {
    margin-bottom: 0;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.section-title {
  margin-left: 15px;
}

.last-button {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $color-lightgray-third;
}

.modal-paragraph {
  font-size: 14px;
  opacity: .75;
  margin: 20px 0;
  color: $color-black;
}

.new-role-dropdown-wrapper {
  margin-bottom: 40px
}
