<div class="security-setting-section" *ngIf="showSection">
  <div class="security-setting-section-content">
    <div class="text-section">
      <div class="flex">
        <basic-emoji
          class="security-setting-section-icon"
          *ngIf="emojiName"
          [emoji]="emojiName"
          [width]="24"
          [height]="24"
        />
        <p class="security-setting-section-title">{{ title }}</p>
      </div>
      <p class="security-setting-section-p">{{ description }}</p>
    </div>
    <div class="button-section">
      <basic-button
        [label]="buttonLabel"
        [danger]="dangerButton"
        [disabled]="disabledButton"
        (buttonClick)="onButtonClick.emit()"
      />
    </div>
  </div>
</div>
