@import 'variables';

.label-box {
  display: block;
  position: relative;
  max-width: 12px;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    transition: .2s;
  }

  &:hover input ~ .checkmark {
    background-color: var(--color-hover);
  }

  input:checked ~ .checkmark {
    background-color: var(--main-color);
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba($color-dark-grey, .15);
    border-radius: 5px;
    transition: .2s;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ &:after {
      display: block;
    }

    &:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid $black;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}

.label {
  padding-top: 4px;
  margin: 0;
  font-size: 12px;

  .tac-box {
    display: flex;
  }
}

.checkbox-container {
  display: flex;
  padding-top: 12px;
  padding-bottom: 20px;

  .label-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    transition: .2s;
  }

  .label-box:hover input ~ .checkmark {
    background-color: var(--color-hover);
  }

  .label-box input:checked ~ .checkmark {
    background-color: rgb($color-main, .7);
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .label-box input:checked ~ .checkmark:after {
    display: block;
  }

  .label-box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}
