<ng-container *transloco="let t">
  <div class="title-container">
    <basic-emoji emoji="shield.png" [width]="48" [height]="48"/>
    <h1 class="section-title">{{ t('settings.companySettingsSection.securitySettings') }}</h1>
  </div>

  <p class="company-security-desc">
    {{ t('settings.companySettingsSection.companySecurityDesc') }}
  </p>

  <security-setting-section
    [showSection]="true"
    [title]="t('settings.companySettingsSection.transferOwnershipHeader')"
    [description]="t('settings.companySettingsSection.transferOwnershipDesc')"
    [buttonLabel]="t('button.transferOwnershipButton')"
    [emojiName]="'envelope.png'"
    (onButtonClick)="showOwnershipTransferModal = true"
  />

  <basic-modal
    [header]="t('settings.companySettingsSection.transferOwnershipHeader')"
    [description]="t('settings.companySettingsSection.transferOwnershipDesc')"
    [showModal]="showOwnershipTransferModal"
    (closeModal)="closeOwnershipTransferModal()"
  >
    <div *ngIf="transferOwnershipStep === 1" [@fadeInOut]="true">
      <basic-input
        type="email"
        [onWhite]="true"
        [label]="t('input.companyOwnerEmail')"
        [placeholder]="t('input.provideCompanyOwnerEmail')"
        [value]="companyOwnerEmail"
        [disabled]="true"
      />
      <basic-input
        type="email"
        [onWhite]="true"
        [label]="t('input.newCompanyOwnerEmailLabel')"
        [placeholder]="t('input.newCompanyOwnerEmailPlaceholder')"
        [inputDescription]="t('input.newCompanyOwnerEmailDesc')"
        [errorMessage]="t('input.wrongEmailFormat')"
        [value]="newCompanyOwnerEmail"
        (valueChange)="newCompanyOwnerEmail = $event"
        (incorrectInput)="incorrectNewCompanyOwnerEmail = $event"
      />
      <basic-button
        [label]="t('button.transferOwnershipButton')"
        [onWhite]="true"
        (buttonClick)="transferOwnership()"
        [disabled]="disabledTransferOwnershipButton()"
      />
    </div>

    <div *ngIf="transferOwnershipStep === 2" [@fadeInOut]="true">
      <basic-input
        type="email"
        [onWhite]="true"
        [label]="t('input.companyOwnerEmail')"
        [placeholder]="t('input.provideCompanyOwnerEmail')"
        [value]="companyOwnerEmail"
        [disabled]="true"
      />
      <basic-input
        type="email"
        [onWhite]="true"
        [label]="t('input.newCompanyOwnerEmailLabel')"
        [placeholder]="t('input.newCompanyOwnerEmailPlaceholder')"
        [inputDescription]="t('input.newCompanyOwnerEmailDesc')"
        [errorMessage]="t('input.wrongEmailFormat')"
        [value]="newCompanyOwnerEmail"
        (valueChange)="newCompanyOwnerEmail = $event"
        (incorrectInput)="incorrectNewCompanyOwnerEmail = $event"
        [disabled]="true"
      />

      <div *ngIf="transferOwnershipIsPhoneRequired">
        <p class="paragraph on-white">
          {{ t('settings.companySettingsSection.transferOwnershipPhone') }}
        </p>
        <basic-input-mfa
          [onWhite]="true"
          [isPhone]="true"
          (mfaCode)="transferOwnershipPhoneCode = $event"
          (resendSms)="transferOwnershipResendSmsCode()"
        />
      </div>

      <div *ngIf="transferOwnershipIsMfaRequired">
        <p class="paragraph on-white">
          {{ t('settings.companySettingsSection.transferOwnershipMfa') }}
        </p>
        <div class="input-mfa-wrapper">
          <basic-input-mfa
            [onWhite]="true"
            (mfaCode)="transferOwnershipMfaCode = $event"
          />
        </div>
      </div>

      <div class="last-button">
        <basic-button
          [onWhite]="true"
          [label]="t('button.goBack')"
          (buttonClick)="transferOwnershipStep = 1"
        />
      </div>

      <div class="last-button">
        <basic-button
          [onWhite]="true"
          [label]="t('button.transferOwnershipButton')"
          [disabled]="disabledTransferOwnershipButton()"
          (buttonClick)="transferOwnership()"
        />
      </div>
    </div>

    <div *ngIf="transferOwnershipStep === 3" [@fadeInOut]="true"></div>
  </basic-modal>

  <security-setting-section
    [showSection]="true"
    [title]="t('settings.companySettingsSection.deleteCompanyHeader')"
    [description]="t('settings.companySettingsSection.deleteCompanyDesc')"
    [buttonLabel]="t('button.deleteCompany')"
    [emojiName]="'cross-mark.png'"
    [dangerButton]="true"
    (onButtonClick)="deleteCompanyModal = true"
  />

  <basic-modal
    [header]="t('settings.companySettingsSection.deleteCompanyHeader')"
    [description]="t('settings.companySettingsSection.deleteCompanyDesc')"
    [showModal]="deleteCompanyModal"
    (closeModal)="closeDeleteCompanyModal()"
  >
    <basic-input
      type="password"
      [label]="t('input.providePass')"
      [placeholder]="t('input.pass')"
      [errorMessage]="t('input.passRulesNotFollowed')"
      [value]="deleteCompanyPassword"
      (valueChange)="deleteCompanyPassword = $event"
      (incorrectInput)="deleteCompanyIncorrectPassword = $event"
    />

    <p class="paragraph on-white">
      {{ t('settings.companySettingsSection.companyDeletionMessage') }}
    </p>

    <basic-input
      type="passphrase"
      [label]="t('input.passphrase')"
      [placeholder]="t('input.providePassphrase')"
      [errorMessage]="t('input.passphraseError')"
      [inputDescription]="t('input.providePassphraseDesc')"
      [showError]="!isPassphraseValid()"
      [minLength]="8"
      [maxLength]="128"
      [value]="deleteCompanyPassphrase"
      (valueChange)="deleteCompanyPassphrase = $event"
    />

    <basic-input
      [onWhite]="true"
      [label]="t('input.recoveryKey', { i: 1 })"
      [placeholder]="t('input.recoveryKey', { i: 1 })"
      [minLength]="1024"
      [maxLength]="1024"
      [value]="deleteCompanyRecoveryKey1"
      (valueChange)="deleteCompanyRecoveryKey1 = $event"
    />
    <basic-input
      [onWhite]="true"
      [label]="t('input.recoveryKey', { i: 2 })"
      [placeholder]="t('input.recoveryKey', { i: 2 })"
      [minLength]="1024"
      [maxLength]="1024"
      [value]="deleteCompanyRecoveryKey2"
      (valueChange)="deleteCompanyRecoveryKey2 = $event"
    />
    <basic-input
      [onWhite]="true"
      [label]="t('input.recoveryKey', { i: 3 })"
      [placeholder]="t('input.recoveryKey', { i: 3 })"
      [minLength]="1024"
      [maxLength]="1024"
      [value]="deleteCompanyRecoveryKey3"
      (valueChange)="deleteCompanyRecoveryKey3 = $event"
    />
    <basic-input
      [onWhite]="true"
      [label]="t('input.recoveryKey', { i: 4 })"
      [placeholder]="t('input.recoveryKey', { i: 4 })"
      [minLength]="1024"
      [maxLength]="1024"
      [value]="deleteCompanyRecoveryKey4"
      (valueChange)="deleteCompanyRecoveryKey4 = $event"
    />
    <basic-input
      [onWhite]="true"
      [label]="t('input.recoveryKey', { i: 5 })"
      [placeholder]="t('input.recoveryKey', { i: 5 })"
      [minLength]="1024"
      [maxLength]="1024"
      [value]="deleteCompanyRecoveryKey5"
      (valueChange)="deleteCompanyRecoveryKey5 = $event"
    />

    <basic-button
      [onWhite]="true"
      [label]="t('button.uploadRecoveryKeys')"
      (buttonClick)="uploadKeys.click()"
    />

    <input
      type="file"
      accept="text/*"
      (change)="selectFile($event)"
      #uploadKeys
      hidden
    />

    <div class="last-button">
      <basic-button
        [onWhite]="true"
        [fillDanger]="true"
        [label]="t('button.deleteCompany')"
        [disabled]="disabledCompanyDeletionButton()"
        (buttonClick)="deleteCompany()"
      />
    </div>
  </basic-modal>
</ng-container>
