@import 'variables';

.paragraph {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: .75;

  &.on-white {
    color: $color-black;
  }
}

.company-security-desc {
  margin-bottom: 50px;
}
