<layout-credentials
  renderSide="right"
  animation="blockchain_technology5.json"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('company-member-acc-conf') }}&nbsp;</span>
        <basic-emoji emoji="locked-with-key.png" [width]="48" [height]="48"/>
      </h2>
    </div>


  </ng-container>
</layout-credentials>
