<layout-credentials
  renderSide="right"
  headerLink="login"
  animation="blockchain_technology_home.json"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
  [isScrollable]="true"
  [currentStep]="step"
  [scrollableStep]="1"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('rec-acc.title') }}&nbsp;</span>
        <basic-emoji emoji="toolbox.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div class="window-container">
      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 1">
        <h2 class="third-title">{{ t('rec-acc.subTitle') }}</h2>

        <p class="paragraph">{{ t('rec-acc.recoverAccount1') }}</p>

        <basic-input
          type="passphrase"
          [label]="t('input.passphrase')"
          [placeholder]="t('input.providePassphrase')"
          [errorMessage]="t('input.passphraseError')"
          [inputDescription]="t('input.providePassphraseDesc')"
          [showError]="!isPassphraseValid()"
          [minLength]="8"
          [maxLength]="128"
          [value]="passphrase"
          (valueChange)="passphrase = $event"
        />

        <p class="paragraph">{{ t('rec-acc.recoverAccount2') }}</p>

        <basic-input
          [label]="t('input.recoveryKey', { i: 1 })"
          [placeholder]="t('input.recoveryKey', { i: 1 })"
          [minLength]="1024"
          [maxLength]="1024"
          [value]="recoveryKey1"
          (valueChange)="recoveryKey1 = $event"
        />
        <basic-input
          [label]="t('input.recoveryKey', { i: 2 })"
          [placeholder]="t('input.recoveryKey', { i: 2 })"
          [minLength]="1024"
          [maxLength]="1024"
          [value]="recoveryKey2"
          (valueChange)="recoveryKey2 = $event"
        />
        <basic-input
          [label]="t('input.recoveryKey', { i: 3 })"
          [placeholder]="t('input.recoveryKey', { i: 3 })"
          [minLength]="1024"
          [maxLength]="1024"
          [value]="recoveryKey3"
          (valueChange)="recoveryKey3 = $event"
        />
        <basic-input
          [label]="t('input.recoveryKey', { i: 4 })"
          [placeholder]="t('input.recoveryKey', { i: 4 })"
          [minLength]="1024"
          [maxLength]="1024"
          [value]="recoveryKey4"
          (valueChange)="recoveryKey4 = $event"
        />
        <basic-input
          [label]="t('input.recoveryKey', { i: 5 })"
          [placeholder]="t('input.recoveryKey', { i: 5 })"
          [minLength]="1024"
          [maxLength]="1024"
          [value]="recoveryKey5"
          (valueChange)="recoveryKey5 = $event"
        />

        <basic-button
          [label]="t('button.uploadRecoveryKeys')"
          (buttonClick)="uploadKeys.click()"
        />

        <input
          type="file"
          accept="text/*"
          (change)="selectFile($event)"
          #uploadKeys
          hidden
        />

        <div class="last-button">
          <basic-button
            [label]="t('button.recoverAcc')"
            [fillButton]="true"
            (buttonClick)="recoverAccount()"
          />
        </div>
      </div>

      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 2">
        <h2 class="third-title flex">
          <span>{{ t('rec-acc.accRecoveredTitle') }}&nbsp;</span>
          <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
        </h2>

        <p class="paragraph">{{ t('rec-acc.accRecovered1') }}</p>
        <p class="paragraph">{{ t('rec-acc.accRecovered2') }}</p>

        <div class="last-button">
          <basic-button
            [label]="t('button.logIn')"
            [fillButton]="true"
            (buttonClick)="handleRedirect('login')"
          />
        </div>
      </div>
    </div>
  </ng-container>
</layout-credentials>
