<layout-default
  [showHeaderBurger]="false"
>
  <ng-container *transloco="let t">
    <div class="product-container" *ngIf="product">
      <div class="product-area">
        <div class="product-search" (click)="showSearchProductsModal = true">
          <basic-input
            [label]="t('input.marketplaceSearchLabel')"
            [placeholder]="t('input.marketplaceSearchPlaceholder')"
            [inputDescription]="t('input.marketplaceSearchInputDesc')"
          />
        </div>

        <div class="product-navigation">
          <div class="product-navigation-wrapper">
            <img
              class="product-navigation-arrow"
              [ngSrc]="backArrowIcon"
              [width]="60"
              [height]="60"
              alt="close"
            >
            <p>Go back</p>
          </div>
          <div class="product-category-navigation">
            <basic-link
              [label]="'Main page'"
              href="/marketplace"
            />
            <p class="product-category-navigation-separator">&gt;</p>
            <basic-link
              [label]="t(translateCategory(product.category))"
              [href]="'marketplace' + '?category=' + product.category"
            />
            <p class="product-category-navigation-separator">&gt;</p>
            <basic-link
              [label]="t(translateSubcategory(product.category, product.subcategory))"
              [href]="'marketplace' + '?category=' + product.category + '&subcategory=' + product.subcategory"
            />
          </div>
        </div>

        <div class="product-content-container">
          <div class="product-main-content">
            <div class="product-pictures"></div>
            <div class="product-desc-block">
              <h1>Product description</h1>
              <p>{{ product.description }}</p>
              <h1>Product tags</h1>
              <div class="product-tags">
                <p class="product-tag">Private</p>
                <p class="product-tag">{{ t(translateCategory(product.category)) }}</p>
                <p class="product-tag">{{ t(translateSubcategory(product.category, product.subcategory)) }}</p>
              </div>
            </div>
            <div class="product-contact-block">
              <h1>Contact product owner</h1>
              <div class="product-contact-info">
                <div class="product-contact-info-block">
                  <img
                    [ngSrc]="userProfilePictureLink"
                    [width]="50"
                    [height]="50"
                    alt="User"
                  >
                  <div class="product-user-info-link">
                    <p>{{ product.productUserFirstName }} {{ product.productUserLastName }}</p>
                    <basic-link [label]="'See more products'" [href]="''" />
                  </div>
                </div>
                <div class="product-contact-info-block buttons">
                  <div class="product-contact-info-button">
                    <basic-button [label]="'Show contact email'"/>
                  </div>
                  <basic-button [label]="'Show contact phone'"/>
                </div>
              </div>
            </div>
          </div>
          <div class="product-additional-content">
            <div class="product-additional-content-block">
              <div class="favorite">
                <p class="product-additional-content-date">
                  {{ transformDate(product.createdAt) }}
                </p>
                <img
                  class="product-favorite-icon"
                  [ngSrc]="addToFavoriteIcon"
                  [width]="32"
                  [height]="32"
                  (click)="handleProductFavorite()"
                  alt="Add to favorite"
                >
              </div>
              <div class="products-price-info">
                <h1>{{ product.title }}</h1>
                <h1>{{ product.price }} {{ product.currency }}</h1>
              </div>
              <div class="products-contact-button no-padding">
                <basic-button
                  [label]="'Show contact email'"
                />
              </div>
              <div class="products-contact-button">
                <basic-button
                  [label]="'Show contact phone'"
                />
              </div>
            </div>
            <div class="product-additional-content-block">
              <h4 class="product-posted-by-title">Posted by</h4>
              <div class="product-user-info-wrapper">
                <div class="product-user-info">
                  <img
                    [ngSrc]="userProfilePictureLink"
                    [width]="50"
                    [height]="50"
                    alt="User"
                  >
                  <div class="product-user-info-link">
                    <p>{{ product.productUserFirstName }} {{ product.productUserLastName }}</p>
                    <basic-link [label]="'See more products'" [href]="''" />
                  </div>
                </div>
              </div>
            </div>
            <div class="product-additional-content-block">
              <h4 class="product-localization-title">Localization</h4>
              <div
                class="product-localization-wrapper"
                (click)="handleExternalRedirect('https://www.google.com/maps/place/' + product.location)"
              >
                <div class="product-location-info">
                  <img
                    [ngSrc]="googleMapsIcon"
                    [width]="50"
                    [height]="50"
                    alt="Google Maps"
                  >
                  <div class="product-localization-link">
                    <p><b>Product located at:</b></p>
                    <p>{{ product.location }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="product-area">
        <h1>See also</h1>
        <div class="similar-products"></div>
      </div>
    </div>
  </ng-container>
</layout-default>

<page-products-modal-search
  [showModal]="showSearchProductsModal"
  (closeModal)="closeSearchProductsModal()"
/>
