<layout-default
  [showHeaderBurger]="false"
>
  <ng-container *transloco="let t">
    <div class="product-container" *ngIf="product">
      <div class="product-area">
        <div class="product-search" (click)="showSearchProductsModal = true">
          <basic-input
            [label]="t('input.marketplaceSearchLabel')"
            [placeholder]="t('input.marketplaceSearchPlaceholder')"
            [inputDescription]="t('input.marketplaceSearchInputDesc')"
          />
        </div>

        <div class="product-navigation">
          <div
            class="product-navigation-wrapper"
            (click)="handleRedirect('marketplace')"
          >
            <img
              class="product-navigation-arrow"
              [ngSrc]="backArrowIcon"
              [width]="60"
              [height]="60"
              alt="close"
            >
            <p>{{ t('product.productGoBack') }}</p>
          </div>
          <div class="product-category-navigation">
            <basic-link
              [label]="t('link.productGoToMainPage')"
              href="/marketplace"
            />
            <p class="product-category-navigation-separator">&gt;</p>
            <basic-link
              [label]="t(translateCategory(product.category))"
              [href]="'marketplace' + '?category=' + product.category"
            />
            <p class="product-category-navigation-separator">&gt;</p>
            <basic-link
              [label]="t(translateSubcategory(product.category, product.subcategory))"
              [href]="'marketplace' + '?category=' + product.category + '&subcategory=' + product.subcategory"
            />
          </div>
        </div>

        <div class="product-content-container">
          <div class="product-main-content">
            <div class="product-pictures">
              <div *ngIf="product.pictures.length === 0">
                <img
                  class="product-no-picture"
                  [src]="noProductPicture"
                  [width]="300"
                  [height]="200"
                  [alt]="noProductPicture"
                >
                <h1>{{ t('product.noProductPictures') }}</h1>
              </div>
              <div *ngIf="product.pictures.length > 0">
                <div class="product-pictures-wrapper">
                  <p-carousel
                    [value]="product.pictures"
                    [numVisible]="1"
                  >
                    <ng-template let-pic pTemplate="item">
                      <div class="product-item-content">
                        <img
                          class="product-pic"
                          [src]="productPicturesBucket + pic + '.png'"
                          alt="Product pic"
                        >
                      </div>
                    </ng-template>
                  </p-carousel>
                </div>
              </div>
            </div>
            <div class="product-desc-block">
              <h1>{{ t('product.productDescTitle') }}</h1>
              <p>{{ product.description }}</p>
              <h1>{{ t('product.productTagsTitle') }}</h1>
              <div class="product-tags">
<!--                <p class="product-tag">Private</p>-->
                <p class="product-tag">{{ t(translateCategory(product.category)) }}</p>
                <p class="product-tag">{{ t(translateSubcategory(product.category, product.subcategory)) }}</p>
              </div>
            </div>
            <div class="product-log-in-to-contact-block" *ngIf="!isUserLoggedIn">
              <p>{{ t('product.logInToContact') }}</p>
              <basic-button
                [label]="t('button.logInCreateAcc')"
                [fillButton]="true"
                (buttonClick)="handleRedirect('login')"
              />
            </div>
            <div class="product-contact-block">
              <h1>{{ t('product.productContactOwnerTitle') }}</h1>
              <div class="product-contact-info">
                <div class="product-contact-info-block">
                  <img
                    [src]="userProfilePictureLink"
                    class="user-profile-picture"
                    alt="User"
                  >
                  <div class="product-user-info-link">
                    <p>{{ product.contactPerson }}</p>
                    <basic-link
                      [label]="t('link.seeMoreProducts')"
                      [href]="'marketplace/user/' + product.ownerId"
                    />
                  </div>
                </div>
                <div class="product-contact-info-block buttons">
                  <div class="product-contact-info-button">
                    <basic-button
                      *ngIf="!contactEmail"
                      [label]="t('button.showContactEmail')"
                      (buttonClick)="getProductContactEmail()"
                    />
                    <basic-link
                      *ngIf="contactEmail"
                      [label]="contactEmail"
                      [href]="'mailto:' + contactEmail"
                    />
                    <p
                      class="hide-contact-email-p"
                      *ngIf="contactEmail"
                      (click)="contactEmail = ''"
                    >{{ t('product.hideContactEmail') }}</p>
                  </div>
                  <div>
                    <basic-button
                      *ngIf="!contactPhone"
                      [label]="t('button.showContactPhone')"
                      (buttonClick)="getProductContactPhone()"
                    />
                    <div class="contact-email-wrapper">
                      <basic-link
                        *ngIf="contactPhone"
                        [label]="contactPhone"
                        [href]="'tel:' + contactPhone"
                      />
                    </div>
                    <p
                      class="hide-contact-email-p"
                      *ngIf="contactPhone"
                      (click)="contactPhone = ''"
                    >{{ t('product.hideContactPhone') }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-additional-content">
            <div class="product-additional-content-block">
              <div class="favorite">
                <p class="product-additional-content-date">
                  {{ transformDate(product.createdAt) }}
                </p>
                <img
                  class="product-favorite-icon"
                  [ngClass]="{ 'active': product.productInFavorites }"
                  [ngSrc]="addToFavoriteIcon"
                  [width]="32"
                  [height]="32"
                  (click)="handleProductFavorite(product.id)"
                  alt="Add to favorite"
                >
              </div>
              <div class="products-price-info">
                <h1>{{ product.title }}</h1>
                <h1>{{ product.price }} {{ product.currency }}</h1>
              </div>
              <div class="products-contact-button no-padding">
                <basic-button
                  *ngIf="!contactEmail"
                  [label]="t('button.showContactEmail')"
                  (buttonClick)="getProductContactEmail()"
                />
                <div class="contact-email-wrapper">
                  <basic-link
                    *ngIf="contactEmail"
                    [label]="contactEmail"
                    [href]="'mailto:' + contactEmail"
                  />
                </div>
                <p
                  class="hide-contact-email-p"
                  *ngIf="contactEmail"
                  (click)="contactEmail = ''"
                >{{ t('product.hideContactEmail') }}</p>
              </div>
              <div class="products-contact-button">
                <basic-button
                  *ngIf="!contactPhone"
                  [label]="t('button.showContactPhone')"
                  (buttonClick)="getProductContactPhone()"
                />
                <div class="contact-email-wrapper">
                  <basic-link
                    *ngIf="contactPhone"
                    [label]="contactPhone"
                    [href]="'tel:' + contactPhone"
                  />
                </div>
                <p
                  class="hide-contact-email-p"
                  *ngIf="contactPhone"
                  (click)="contactPhone = ''"
                >{{ t('product.hideContactPhone') }}</p>
              </div>
            </div>
            <div class="product-additional-content-block">
              <h4 class="product-posted-by-title">
                {{ t('product.productPostedBy') }}
              </h4>
              <div class="product-user-info-wrapper">
                <div class="product-user-info">
                  <img
                    [src]="userProfilePictureLink"
                    class="user-profile-picture"
                    alt="User"
                  >
                  <div class="product-user-info-link">
                    <p>{{ product.contactPerson }}</p>
                    <basic-link
                      [label]="t('link.seeMoreProducts')"
                      [href]="'marketplace/user/' + product.ownerId"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="product-additional-content-block">
              <h4 class="product-localization-title">{{ t('product.productLocation') }}</h4>
              <div
                class="product-localization-wrapper"
                (click)="handleExternalRedirect('https://www.google.com/maps/place/' + product.location)"
              >
                <div class="product-location-info">
                  <img
                    [ngSrc]="googleMapsIcon"
                    [width]="50"
                    [height]="50"
                    alt="Google Maps"
                  >
                  <div class="product-localization-link">
                    <p><b>{{ t('product.productLocatedAt') }}:</b></p>
                    <p>{{ product.location }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="product-container"
      *ngIf="similarProducts && similarProducts.length >= 2"
    >
      <div class="product-area">
        <h1>{{ t('product.similarProducts') }}</h1>
        <div class="similar-products">
          <div
            *ngFor="let similarProduct of similarProducts"
            (click)="handleRedirect('marketplace/product/' + similarProduct.slug)"
          >
            <div
              class="similar-product-container"
              *ngIf="similarProduct.id !== product.id"
            >
              <img
                *ngIf="similarProduct.mainPicture"
                class="similar-product-pic"
                [ngSrc]="productPicturesBucket + similarProduct.mainPicture + '.png'"
                [alt]="similarProduct.title"
                [width]="298"
                [height]="200"
              >
              <div
                class="similar-product-no-pic-container"
                *ngIf="!similarProduct.mainPicture"
              >
                <img
                  class="similar-product-no-pic"
                  [ngSrc]="noProductPicture"
                  alt="No picture"
                  [width]="298"
                  [height]="200"
                >
              </div>
              <div class="similar-product-info">
                <h5>{{ similarProduct.title }}</h5>
                <p class="similar-product-info-p">{{ similarProduct.price }} {{ similarProduct.currency }}</p>
                <p class="similar-product-info-p">{{ transformDate(similarProduct.createdAt) }}</p>
              </div>
              <div class="similar-product-favorites">
                <div
                  class="similar-product-add-to-favorites"
                  [ngClass]="{ 'active': similarProduct.productInFavorites }"
                  (click)="handleSimilarProductsFavorite(similarProduct, $event)"
                >
                  <p class="similar-product-add-to-favorites-p">
                    {{ t('product.addToFavorites') }}:
                  </p>
                  <img
                    class="similar-product-favorite-icon"
                    [ngClass]="{ 'active': similarProduct.productInFavorites }"
                    [ngSrc]="addToFavoriteIcon"
                    [width]="16"
                    [height]="16"
                    alt="Add to favorite"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="product-container"
      *ngIf="!similarProducts"
    >
      <div class="product-area no-products">
        <h1>{{ t('product.noSimilarProductsTitle') }}</h1>
        <p>{{ t('product.noSimilarProductsParagraph') }}</p>
      </div>
    </div>
  </ng-container>
</layout-default>

<page-products-modal-search
  [showModal]="showSearchProductsModal"
  (closeModal)="closeSearchProductsModal()"
/>
