<div class="input-button-container">
  <p class="placeholder" [ngClass]="{ 'on-white': onWhite }">{{ placeholder }}</p>
  <div class="container">
    <div class="input-wrapper">
      <basic-input
        [label]="inputLabel"
        [type]="inputType"
        [value]="inputValue"
        [disabled]="inputDisabled || loaderService.getStatus()"
        [placeholder]="inputPlaceholder"
        [errorMessage]="inputValue && inputShowError ? inputErrorMessage : null"
        [showError]="inputShowError"
        [onWhite]="onWhite"
        [inputDescription]="!inputShowError ? inputDescription : null"
        (valueChange)="onInput($event)"
      />
    </div>

    <div class="button-wrapper">
      <div class="button-container">
        <basic-button
          [label]="buttonLabel"
          (buttonClick)="onClick()"
          [onWhite]="onWhite"
          [disabled]="buttonDisable()"
          [buttonDescription]="buttonDescription"
        />
      </div>
    </div>
  </div>
</div>
