<div class="input-button-container">
  <p class="placeholder">{{ placeholder }}</p>
  <div class="container">
    <div class="input-wrapper">
      <basic-input
        [label]="inputLabel"
        [type]="inputType"
        [value]="inputValue"
        [disabled]="inputDisabled"
        [placeholder]="inputPlaceholder"
        [errorMessage]="inputValue && inputShowError ? inputErrorMessage : null"
        [showError]="inputShowError"
        [inputDescription]="!inputShowError ? inputDescription : null"
        (valueChange)="onInput($event)"
      ></basic-input>
    </div>

    <div class="button-wrapper">
      <div class="button-container">
        <basic-button
          [label]="buttonLabel"
          (buttonClick)="onClick()"
          [disabled]="buttonDisabled"
          [buttonDescription]="buttonDescription"
        />
      </div>
    </div>
  </div>
</div>
