@import 'variables';

.personal-settings-container {
  width: 60%;
  display: flex;
  margin: 30px auto;
}

.personal-settings-inputs {
  margin: 0 20px;
}

.dived-line {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin: 20px 0;
}

.info-changed {
  margin-bottom: 20px;
}

.info-changed-text {
  color: var(--error-color);
  font-size: 12px;
  font-weight: 400;
}
