<ng-container *transloco="let t">
  <div class="personal-settings-container">
    <dashboard-user-photo
      [isProfilePicPresent]="isProfilePicPresent"
      [userIdHash]="userIdHash"
    />
    <div class="personal-settings-inputs">
      <h1 class="personal-settings-title">
        <span>{{ t('settings.managePersonalSettings') }}&nbsp;</span>
        <basic-emoji emoji="eyes.png" [width]="48" [height]="48" />
      </h1>

      <div class="dived-line"></div>

      <basic-input
        [label]="t('input.firstName')"
        [placeholder]="t('input.provideFirstName')"
        [inputDescription]="t('input.fieldRequired')"
        [value]="firstName"
        [minLength]="1"
        [maxLength]="64"
        (valueChange)="firstName = $event"
        (incorrectInput)="incorrectFirstName = $event"
      />
      <basic-input
        [label]="t('input.lastName')"
        [placeholder]="t('input.provideLastName')"
        [inputDescription]="t('input.fieldRequired')"
        [value]="lastName"
        [minLength]="1"
        [maxLength]="64"
        (valueChange)="lastName = $event"
        (incorrectInput)="incorrectLastName = $event"
      />

      <div class="dived-line"></div>

      <basic-input
        [label]="t('input.email')"
        [value]="email"
        [disabled]="true"
        [inputDescription]="t('input.emailChangeInfo')"
      />

      <div class="dived-line"></div>

      <basic-input
        [label]="t('input.namePronunciation')"
        [placeholder]="t('input.namePronunciationPlaceholder')"
        [inputDescription]="t('input.namePronunciationDesc')"
        [value]="namePronunciation"
        (valueChange)="namePronunciation = $event"
      />
      <basic-input
        [label]="t('input.homeAddress')"
        [placeholder]="t('input.provideHomeAddress')"
        [inputDescription]="t('input.homeAddressDesc')"
        [value]="homeAddress"
        (valueChange)="homeAddress = $event"
      />
      <basic-input
        [label]="t('input.homePhone')"
        [placeholder]="t('input.provideHomePhone')"
        [inputDescription]="t('input.homePhoneDesc')"
        [value]="homePhone"
        (valueChange)="homePhone = $event"
      />

      <div
        class="info-changed"
        *ngIf="wasInfoChanged()"
        [@infoChangedAnimation]="true"
      >
        <p class="info-changed-text">{{ t('settings.userInfoNotSaved') }}</p>
      </div>

      <div
        class="info-changed"
        *ngIf="incorrectUserData()"
        [@infoChangedAnimation]="true"
      >
        <p class="info-changed-text">{{ t('settings.userInfoProvidedWrong') }}</p>
      </div>

      <basic-button
        [disabled]="saveButtonDisabled()"
        [label]="t('button.saveSettings')"
        (buttonClick)="saveUserInfo()"
      />
    </div>
  </div>

</ng-container>
