@import 'variables';

.personal-settings-container {
  width: 60%;
  display: flex;
  margin: 30px auto;
}

.personal-settings-inputs {
  margin: 0 20px;
}

.personal-settings-title {
  display: flex;
}
