<ng-container *transloco="let t">
  <div class="personal-settings-container">
    <dashboard-user-photo
      [isProfilePicPresent]="isProfilePicPresent"
      [userId]="userId"
    />
    <div class="personal-settings-inputs">
      <h3>{{ t('settings.managePersonalSettings') }}</h3>

      <div class="dived-line"></div>

      <basic-input
        [label]="t('input.provideFirstName')"
        [placeholder]="t('input.firstName')"
        [inputDescription]="t('input.fieldRequired')"
        [value]="firstName"
        [minLength]="1"
        [maxLength]="64"
        (valueChange)="firstName = $event"
        (incorrectInput)="incorrectFirstName = $event"
      />
      <basic-input
        [label]="t('input.provideLastName')"
        [placeholder]="t('input.lastName')"
        [inputDescription]="t('input.fieldRequired')"
        [value]="lastName"
        [minLength]="1"
        [maxLength]="64"
        (valueChange)="lastName = $event"
        (incorrectInput)="incorrectLastName = $event"
      />

      <basic-input
        [label]="t('input.email')"
        [value]="email"
        [disabled]="true"
        [inputDescription]="t('input.emailChangeInfo')"
      />

      <div class="dived-line"></div>

      <div
        class="info-changed"
        *ngIf="wasInfoChanged()"
        [@infoChangedAnimation]="true"
      >
        <p class="info-changed-text">{{ t('settings.infoNotSaved') }}</p>
      </div>

      <basic-button
        [disabled]="!wasInfoChanged() || incorrectData()"
        [label]="t('button.saveSettings')"
        (buttonClick)="saveUserInfo()"
      />
    </div>
  </div>

</ng-container>
