@import 'variables';

.marketplace-user-container {
  width: 60%;
  display: flex;
  margin: 30px auto 0 auto;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;

  &.no-margin {
    margin: 0 auto;
  }
}

.marketplace-user-photo {
  border-radius: 50%;
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.marketplace-user-info-container {
  width: 100%;
  padding: 0 20px;
}

.marketplace-user-name {
  font-size: 48px;
}

.marketplace-user-pronunciation {
  opacity: .5
}

.marketplace-user-registration-date {
  font-size: 14px;
  text-align: center;
  opacity: .5;
}

.marketplace-user-email-container {
  p {
    margin-bottom: 10px;
    opacity: .5;
  }
}
