@import 'variables';

.options-list {
  margin: 20px 0 20px 20px;

  .option-item {
    color: var(--text-color);
    font-size: 14px;
    padding-bottom: 10px;

    &.on-white {
      color: $color-black;
    }
  }
}
