@import 'variables';

.alert-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  border-radius: 0.25rem;
  min-width: 650px;
  transition: .3s;
  background-color: var(--bg-color);
  @include z-index(loading);

  @include respond_device(to_m) {
    margin-right: unset;
    margin-left: 5%;
    left: unset;
    right: unset;
    min-width: unset;
    max-width: unset;
    width: 90%;
  }
}

.alert-content {
  display: flex;

  .alert-icon {
    margin-right: 16px;

    &.error {
      filter: var(--warn-color-svg);
    }

    &.success {
      filter: var(--success-color-svg);
    }
  }
}

.alert-header {
  margin: 0;
  font-weight: 500;
}

.alert-message {
  opacity: .5;
  font-size: 14px;
}

.close-container {
  position: absolute;
  height: 100%;
  border-left: 1px solid var(--border-color);
  right: 0;
  display: flex;
  align-items: center;
  transition: .3s;
  cursor: pointer;
  background-color: var(--bg-color);

  &:hover {
    background-color: var(--color-hover);
  }

  .close-button {
    opacity: .25;
    margin: 0 16px;
  }
}

.alert {
  box-shadow: var(--alert-shadow);
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .3s;

  @include respond_device(to_m) {
    width: 100%;
  }

  &.error {
    border-left: 10px solid var(--warn-color);

    &:hover {
      border-left: 90px solid var(--warn-color);
    }
  }

  &.success {
    border-left: 10px solid var(--success-color);

    &:hover {
      border-left: 90px solid var(--success-color);
    }
  }
}
