<div *ngIf="globalMessageService.message$ | async as message" class="alert-container">
  <div [ngClass]="globalMessageService.isError ? 'alert-error' : 'alert-success'" role="alert">
    <div class="alert-content">
      <img
        class="alert-icon"
        [ngSrc]="successIcon"
        [width]="50"
        [height]="50"
        alt="success"
      >
      <div>
        <h2 class="alert-header">{{ globalMessageService.isError ? 'Error' : 'Success' }}</h2>
        <p class="alert-message">{{ message }}</p>
      </div>
    </div>
    <div class="close-container" (click)="globalMessageService.clear()">
      <p class="close-button">Close</p>
    </div>
  </div>
</div>
