@import 'variables';

.home-welcome-window {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  position: relative;

  .home-welcome-text {
    max-width: 600px;
    position: absolute;
    right: 0;
    left: 10%;
    top: 20%;

    .welcome-header {
      font-weight: 100;
      font-size: 102px;
      color: $filter-grey-dark-hover;
    }

    .welcome-header-2-wrapper {
      display: flex;
      margin-left: 10px;

      &.margin-top {
        margin-top: 20px
      }
    }

    .welcome-header-2 {
      font-weight: 200;
      font-size: 48px;
      color: $filter-grey-dark-hover;

      &.padding {
        padding-left: 10px;
      }
    }

    .welcome-header-3 {
      font-weight: 300;
      font-size: 24px;
      color: $filter-grey-dark-hover;
      padding-left: 5px;
    }

    .home-start-button-wrapper {
      margin-left: 10px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .home-start-button-container {
        border-top: 1px solid rgba($color-dark-grey, .5);
        width: 100%;
        margin-top: 30px;

        .home-start-button {
          background-color: $color-main;
          color: $color-black;
          cursor: pointer;
          font-size: 20px;
          font-weight: 400;
          line-height: 45px;
          margin-top: 30px;
          position: relative;
          text-decoration: none;
          overflow: hidden;
          border-radius: 6px;

          &:hover {
            text-decoration: none;

            &:after {
              left: 120%;
              transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
            }
          }

          &:after {
            background: white;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
          }
        }
      }
    }

    .continue-line {
      margin: 30px 0 0 10px;

      .continue-with-paragraph {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba($color-dark-grey, .5);
        line-height: 0.1em;
        margin: 10px 0 20px;
        opacity: .5;
      }

      .continue-with-paragraph span {
        background: $color-white;
        padding: 0 10px;
      }
    }

    .alternative-login {
      display: flex;
      margin-left: 10px;

      .alternative-login-item {
        width: 100%;
        border: 1px solid rgba($color-dark-grey, .75);
        background-color: $color-white;
        cursor: pointer;
        height: 50px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;

        &:hover {
          background-color: $color-shadow-light;
        }

        .alternative-login-icon {
          margin-right: 10px;
        }

        .alternative-login-icon-2 {
          margin-right: 5px;
        }

        &.margin-left {
          margin-left: 10px;
        }

        &.margin-right {
          margin-right: 10px;
        }
      }
    }
  }

  .home-welcome-animation {
    width: 80%;
    filter: blur(3px);
  }
}
