@import 'variables';

.home-welcome-window {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  position: relative;
  background-color: var(--bg-color);

  @include respond_device(to_m) {
    display: block;
  }
}

.home-welcome-text-container {
  max-width: 600px;
  position: absolute;
  right: 0;
  left: 10%;
  top: 20%;

  @include respond_device(to_m) {
    margin: 0 auto;
    position: unset;
    width: 100%;
  }
}

.welcome-header-title {
  font-weight: 300;
  font-size: 102px;

  @include respond_device(to_m) {
    font-size: 52px;
    text-align: center;
  }
}

.welcome-header-subtitle-wrapper {
  display: flex;
  margin-left: 10px;

  @include respond_device(to_m) {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
}

.welcome-header-p-wrapper {
  margin-top: 20px;
  margin-left: 10px;
  color: var(--paragraph-color);

  @include respond_device(to_m) {
    margin: 0;
    text-align: center;
  }
}

.welcome-header-subtitle {
  font-weight: 200;
  font-size: 48px;

  @include respond_device(to_m) {
    font-size: 32px;
    padding: 0 !important;
  }

  &.padding {
    padding-left: 10px;
  }
}

.welcome-header-p {
  font-weight: 300;
  font-size: 24px;
  padding-left: 5px;

  @include respond_device(to_m) {
    padding: 0;
    font-size: 18px;
  }
}

.home-start-button-wrapper {
  margin: 30px 0 0 10px;

  @include respond_device(to_m) {
    margin: 20px 10px 0 10px;
  }
}

.home-welcome-animation {
  width: 80%;
  filter: blur(3px);

  @include respond_device(to_m) {
    display: none;
  }
}
