<layout-default
  [showFooter]="true"
  [showSideBar]="false"
  [showHeaderBurger]="false"
>
  <ng-container *transloco="let t">
    <div class="home-welcome-window">

      <div class="home-welcome-animation">
        <ng-lottie [options]="animationOptions" />
      </div>

      <div class="home-welcome-text-container">
        <ngx-typed-js
          [showCursor]="true"
          [strings]="['Mnemosyne']"
          [startDelay]="1000"
          [typeSpeed]="100"
        >
          <h1 class="welcome-header-title"><span class="typing"></span></h1>
        </ngx-typed-js>

        <div class="welcome-header-subtitle-wrapper">
          <ngx-typed-js
            [strings]="[whateverYouNeedTitle]"
            [showCursor]="false"
            [startDelay]="1500"
            [typeSpeed]="70"
            (completed)="currentTypingText = 2"
          >
            <h2 class="welcome-header-subtitle"><span class="typing"></span></h2>
          </ngx-typed-js>
          <ngx-typed-js
            *ngIf="currentTypingText > 1"
            [strings]="[wheneverYouWantTitle]"
            [showCursor]="false"
            [typeSpeed]="70"
            (completed)="currentTypingText = 3"
          >
            <h2 class="welcome-header-subtitle"><span class="typing"></span></h2>
          </ngx-typed-js>
          <ngx-typed-js
            [startDelay]="4200"
            [strings]="[whereverYouAreaTile]"
            [typeSpeed]="70"
            (completed)="currentTypingText = 4"
          >
            <h2 class="welcome-header-subtitle"><span class="typing"></span></h2>
          </ngx-typed-js>
        </div>

        <div
          *ngIf="currentTypingText >= 3"
          [@fadeIn]="true"
          class="welcome-header-p-wrapper"
        >
          <ngx-typed-js
            contentType="html"
            [loop]="true"
            [startDelay]="2200"
            [strings]="[
              typedTitle1,
              typedTitle2,
              typedTitle3
            ]"
            [typeSpeed]="50"
            [backSpeed]="10"
          >
            <p class="welcome-header-p">
              {{ subtitle }}<span class="typing"></span>
            </p>
          </ngx-typed-js>
        </div>

        <div
          [@buttonAnimation]="currentTypingText >= 3 ? 'visible' : 'hidden'"
          class="home-start-button-wrapper"
        >
          <basic-button
            [label]="t('button.createAcc')"
            [highHeight]="true"
            [fillButton]="true"
            (buttonClick)="handleRedirect('registration')"
          />
        </div>

        <div
          class="home-start-button-wrapper"
          [@buttonAnimation]="currentTypingText >= 3 ? 'visible' : 'hidden'"
        >
          <page-component-alt-registration
            [continueWithTitle]="t('reg.continueWith')"
            [block]="false"
          />
        </div>

      </div>
    </div>

    <div class="recent-products-container">
      <h1>See the most recent products</h1>
    </div>
  </ng-container>
</layout-default>
