<ng-container *transloco="let t">
  <div class="security-settings-container">
    <h3>{{ t('settings.securitySettingsRules.title') }}</h3>
    <ul class="rules-list">
      <li class="rule">{{ t('settings.securitySettingsRules.rule1') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule2') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule3') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule4') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule5') }}</li>
    </ul>

    <div class="dived-line no-bottom"></div>

    <security-setting-section
      [showSection]="!userSecurity.isTwoFaSetUp"
      [title]="t('settings.mfa.setup2fa')"
      [description]="t('settings.mfa.setup2faDesc')"
      [buttonLabel]="t('settings.mfa.setup2fa')"
      (onButtonClick)="generateTwoFaQrCode()"
    />

    <basic-modal
      [header]="t('settings.mfa.setup2fa')"
      [description]="t('settings.mfa.setup2faDesc')"
      [showModal]="set2faModal"
      (closeModal)="set2faModal = false"
    >
      <basic-qr-mfa
        [qrCode]="qrCode"
        [twoFaToken]="twoFaToken"
        [showQr]="showQr"
        (code)="mfaCode = $event"
      />
      <div class="last-button">
        <basic-button
          [label]="t('button.continue')"
          [onWhite]="true"
          (buttonClick)="verifyTwoFaQrCode()"
        />
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="userSecurity.isTwoFaSetUp"
      [title]="t('settings.mfa.disable2fa')"
      [description]="t('settings.mfa.disable2faDesc')"
      [buttonLabel]="t('settings.mfa.disable2fa')"
      [dangerButton]="true"
      [disabledButton]="userSecurity.isTwoFaSetUp && !userSecurity.phoneStatus.isSetUp"
      (onButtonClick)="disable2faModal = true"
    />

    <basic-modal
      [header]="t('settings.mfa.disable2fa')"
      [description]="t('settings.mfa.disable2faDesc')"
      [showModal]="disable2faModal"
      (closeModal)="disable2faModal = false"
    >
      <basic-input-mfa
        [onWhite]="true"
        (mfaCode)="disable2faCode = $event"
      />
      <div class="last-button">
        <basic-button
          [danger]="true"
          [onWhite]="true"
          [disabled]="disable2faCode.length !== 6"
          [label]="t('button.disableMfa')"
          (buttonClick)="disableTwoFa()"
        />
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="!userSecurity.phoneStatus.isSetUp"
      [title]="t('settings.phone.setupPhone')"
      [description]="t('settings.phone.setupPhoneDesc')"
      [buttonLabel]="t('settings.phone.setupPhone')"
      (onButtonClick)="setMobilePhoneModal = true"
    />

    <basic-modal
      [header]="t('settings.phone.setupPhone')"
      [description]="t('settings.phone.setupPhoneDesc')"
      [showModal]="setMobilePhoneModal"
      (closeModal)="setMobilePhoneModal = false"
    >
      <basic-phone
        [phoneCodeSent]="phoneCodeSent"
        (sendSmsCode)="sendSmsCode()"
        [onWhite]="true"
      />
      <div *ngIf="phoneCodeSent">
        <basic-input-mfa
          [onWhite]="true"
          (mfaCode)="phoneCode = $event"
        />
      </div>
      <div class="last-button">
        <basic-button
          [onWhite]="true"
          [disabled]="!phoneCodeSent || phoneCode.length !== 6"
          [label]="t('button.verifyCode')"
          (buttonClick)="verifyMobilePhone()"
        />
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="userSecurity.phoneStatus.isSetUp"
      [title]="t('settings.phone.disablePhone')"
      [description]="t('settings.phone.disablePhoneDesc')"
      [buttonLabel]="t('settings.phone.disablePhone')"
      [dangerButton]="true"
      [disabledButton]="userSecurity.phoneStatus.isSetUp && !userSecurity.isTwoFaSetUp"
      (onButtonClick)="disableMobilePhoneModal = true"
    />

    <basic-modal
      [header]="t('settings.phone.disablePhone')"
      [description]="t('settings.phone.disablePhoneDesc')"
      [showModal]="disableMobilePhoneModal"
      (closeModal)="disableMobilePhoneModal = false"
    ></basic-modal>

    <security-setting-section
      [showSection]="true"
      [title]="t('settings.password.changePassword')"
      [description]="t('settings.password.changePasswordDesc')"
      [buttonLabel]="t('settings.password.changePassword')"
      [disabledButton]="!userSecurity.passwordCanBeChanged"
      (onButtonClick)="changePasswordModal = true"
    />

    <basic-modal
      [header]="t('settings.password.changePassword')"
      [description]="t('settings.password.changePasswordDesc')"
      [showModal]="changePasswordModal"
      (closeModal)="changePasswordModal = false"
    ></basic-modal>

    <security-setting-section
      [showSection]="!userSecurity.emailChanged"
      [title]="t('settings.email.changeEmail')"
      [description]="t('settings.email.changeEmailDesc')"
      [buttonLabel]="t('settings.email.changeEmail')"
      (onButtonClick)="changeEmailModal = true"
    />

    <basic-modal
      [header]="t('settings.email.changeEmail')"
      [description]="t('settings.email.changeEmailDesc')"
      [showModal]="changeEmailModal"
      (closeModal)="changeEmailModal = false"
    ></basic-modal>

    <security-setting-section
      [showSection]="userSecurity.emailChanged"
      [title]="t('settings.email.changeEmail')"
      [description]="t('settings.email.emailAlreadyChanged')"
      [buttonLabel]="t('settings.email.changeEmail')"
      [disabledButton]="true"
    />

    <security-setting-section
      [showSection]="true"
      [title]="t('settings.deleteAcc.deleteAcc')"
      [description]="t('settings.deleteAcc.deleteAccDesc')"
      [buttonLabel]="t('settings.deleteAcc.deleteAcc')"
      [dangerButton]="true"
      (onButtonClick)="deleteAccountModal = true"
    />

    <basic-modal
      [header]="t('settings.deleteAcc.deleteAcc')"
      [description]="t('settings.deleteAcc.deleteAccDesc')"
      [showModal]="deleteAccountModal"
      (closeModal)="deleteAccountModal = false"
    ></basic-modal>
  </div>

</ng-container>
