<ng-container *transloco="let t">
  <div class="security-settings-container">
    <h1 class="security-settings-title">
      <span>{{ t('settings.securitySettingsRules.title') }}&nbsp;</span>
      <basic-emoji emoji="shield.png" [width]="48" [height]="48"/>
    </h1>
    <ul class="rules-list">
      <li class="rule">{{ t('settings.securitySettingsRules.rule1') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule2') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule3') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule4') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule5') }}</li>
    </ul>

    <div class="dived-line no-bottom"></div>

    <security-setting-section
      [showSection]="!userSecurity.isTwoFaSetUp"
      [title]="t('settings.mfa.setup2fa')"
      [description]="t('settings.mfa.setup2faDesc')"
      [buttonLabel]="t('settings.mfa.setup2fa')"
      [emojiName]="'locked-with-key.png'"
      (onButtonClick)="generateTwoFaQrCode()"
    />

    <basic-modal
      [header]="t('settings.mfa.setup2fa')"
      [description]="t('settings.mfa.setup2faDesc')"
      [showModal]="set2faModal"
      (closeModal)="closeSet2faModal()"
    >
      <basic-qr-mfa
        [qrCode]="qrCode"
        [twoFaToken]="twoFaToken"
        [showQr]="showQr"
        (code)="mfaCode = $event"
        [onWhite]="true"
      />
      <div class="last-button">
        <basic-button
          [label]="t('button.continue')"
          [disabled]="disableVerifyTwoFaQr()"
          [onWhite]="true"
          (buttonClick)="verifyTwoFaQrCode()"
        />
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="userSecurity.isTwoFaSetUp"
      [title]="t('settings.mfa.disable2fa')"
      [description]="t('settings.mfa.disable2faDesc')"
      [buttonLabel]="t('settings.mfa.disable2fa')"
      [emojiName]="'locked-with-key.png'"
      [dangerButton]="true"
      [disabledButton]="userSecurity.isTwoFaSetUp && !userSecurity.phoneStatus.isSetUp"
      (onButtonClick)="disable2faModal = true"
    />

    <basic-modal
      [header]="t('settings.mfa.disable2fa')"
      [description]="t('settings.mfa.disable2faDesc')"
      [showModal]="disable2faModal"
      (closeModal)="closeDisable2faModal()"
    >
      <div class="input-mfa-wrapper">
        <basic-input-mfa
          [onWhite]="true"
          (mfaCode)="disableTwoFaCode = $event"
        />
      </div>
      <div class="last-button">
        <basic-button
          [danger]="true"
          [onWhite]="true"
          [disabled]="twoFaButtonDisable()"
          [label]="t('button.disableMfa')"
          (buttonClick)="disableTwoFa()"
        />
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="!userSecurity.phoneStatus.isSetUp"
      [title]="t('settings.phone.setupPhone')"
      [description]="t('settings.phone.setupPhoneDesc')"
      [buttonLabel]="t('settings.phone.setupPhone')"
      [emojiName]="'mobile-phone.png'"
      (onButtonClick)="setMobilePhoneModal = true"
    />

    <basic-modal
      [header]="t('settings.phone.setupPhone')"
      [description]="t('settings.phone.setupPhoneDesc')"
      [showModal]="setMobilePhoneModal"
      (closeModal)="closeSetMobilePhoneModal()"
    >
      <basic-phone
        [phoneCodeSent]="phoneCodeSent"
        (sendSmsCode)="sendSmsCode($event)"
        [onWhite]="true"
      />
      <div *ngIf="phoneCodeSent">
        <basic-input-mfa
          [onWhite]="true"
          (mfaCode)="phoneCode = $event"
        />
      </div>
      <div class="last-button">
        <basic-button
          [onWhite]="true"
          [disabled]="verifyPhoneDisable()"
          [label]="t('button.verifyCode')"
          (buttonClick)="verifyMobilePhone()"
        />
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="userSecurity.phoneStatus.isSetUp"
      [title]="t('settings.phone.disablePhone')"
      [description]="t('settings.phone.disablePhoneDesc')"
      [buttonLabel]="t('settings.phone.disablePhone')"
      [emojiName]="'mobile-phone.png'"
      [dangerButton]="true"
      [disabledButton]="userSecurity.phoneStatus.isSetUp && !userSecurity.isTwoFaSetUp"
      (onButtonClick)="disableMobilePhoneModal = true"
    />

    <basic-modal
      [header]="t('settings.phone.disablePhone')"
      [description]="t('settings.phone.disablePhoneDesc')"
      [showModal]="disableMobilePhoneModal"
      (closeModal)="closeDisableMobilePhoneModal()"
    >
      <div class="last-button">
        <basic-button
          [onWhite]="true"
          [danger]="true"
          [label]="t('button.disconnectPhone')"
          (buttonClick)="disableMobilePhone()"
        />
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="true"
      [title]="t('settings.password.changePassword')"
      [description]="t('settings.password.changePasswordDesc')"
      [buttonLabel]="t('settings.password.changePassword')"
      [emojiName]="'old-key.png'"
      [disabledButton]="!userSecurity.passwordCanBeChanged"
      (onButtonClick)="changePasswordModal = true"
    />

    <basic-modal
      [header]="t('settings.password.changePassword')"
      [description]="t('settings.password.changePasswordDesc')"
      [showModal]="changePasswordModal"
      (closeModal)="closeChangePasswordModal()"
    >
      <div *ngIf="hidePasswordCreateFields()">
        <basic-input
          type="password"
          [onWhite]="true"
          [label]="t('input.currentPass')"
          [placeholder]="t('input.provideCurrentPass')"
          [errorMessage]="t('input.passRulesNotFollowed')"
          [value]="currentPassword"
          (valueChange)="currentPassword = $event"
          (incorrectInput)="incorrectPassword = $event"
        />
        <page-component-create-password
          [onWhite]="true"
          (passwordChange)="newPassword = $event"
          (incorrectInput)="incorrectNewPassword = $event"
        />
        <div class="last-button">
          <basic-button
            [onWhite]="true"
            [label]="t('button.changePassword')"
            (buttonClick)="changePassword()"
            [disabled]="disableChangePasswordButton()"
          />
        </div>
      </div>

      <div *ngIf="changePassPhoneRequired">
        <p class="modal-paragraph">{{ t('settings.phoneMfaRequired') }}</p>
        <basic-phone
          [readOnly]="true"
          [onWhite]="true"
          [startCountdownManually]="true"
          [phoneInput]="userSecurity.phoneStatus.twoLastDigit"
          [phoneCodeSent]="phoneCodeSent"
          (sendSmsCode)="sendSmsCode($event)"
        />
        <div class="input-mfa-wrapper">
          <basic-input-mfa
            [onWhite]="true"
            (mfaCode)="changePassPhoneCode = $event"
          />
        </div>
      </div>

      <div *ngIf="changePassMfaRequired">
        <p class="modal-paragraph">{{ t('settings.tokenMfaRequired') }}</p>
        <div class="input-mfa-wrapper">
          <basic-input-mfa
            [onWhite]="true"
            (mfaCode)="changePassMfaCode = $event"
          />
        </div>
      </div>

      <div *ngIf="changePassMfaRequired || changePassPhoneRequired">
        <div class="last-button">
          <basic-button
            [onWhite]="true"
            [label]="t('button.continue')"
            [disabled]="disableChangePasswordMfaButton()"
            (buttonClick)="changePassword()"
          />
        </div>
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="!userSecurity.emailChanged"
      [title]="t('settings.email.changeEmail')"
      [description]="t('settings.email.changeEmailDesc')"
      [buttonLabel]="t('settings.email.changeEmail')"
      [emojiName]="'envelope.png'"
      (onButtonClick)="changeEmailModal = true"
    />

    <basic-modal
      [header]="t('settings.email.changeEmail')"
      [description]="t('settings.email.changeEmailDesc')"
      [showModal]="changeEmailModal"
      (closeModal)="closeChangeEmailModal()"
    >
      <basic-input
        type="email"
        [onWhite]="true"
        [label]="t('input.email')"
        [placeholder]="t('input.provideEmail')"
        [errorMessage]="t('input.wrongEmailFormat')"
        [value]="newEmail"
        (valueChange)="newEmail = $event"
        (incorrectInput)="incorrectNewEmail = $event"
      />
      <div class="last-button">
        <basic-button
          [onWhite]="true"
          [disabled]="!newEmail || incorrectNewEmail"
          [label]="t('button.changeEmail')"
          (buttonClick)="changeEmail()"
        />
      </div>
    </basic-modal>

    <security-setting-section
      [showSection]="userSecurity.emailChanged"
      [title]="t('settings.email.changeEmail')"
      [description]="t('settings.email.emailAlreadyChanged')"
      [buttonLabel]="t('settings.email.changeEmail')"
      [emojiName]="'envelope.png'"
      [disabledButton]="true"
    />

    <security-setting-section
      [showSection]="true"
      [title]="t('settings.deleteAcc.deleteAcc')"
      [description]="t('settings.deleteAcc.deleteAccDesc')"
      [buttonLabel]="t('settings.deleteAcc.deleteAcc')"
      [emojiName]="'cross-mark.png'"
      [dangerButton]="true"
      (onButtonClick)="deleteAccountModal = true"
    />

    <basic-modal
      [header]="t('settings.deleteAcc.deleteAcc')"
      [description]="t('settings.deleteAcc.deleteAccDesc')"
      [showModal]="deleteAccountModal"
      (closeModal)="closeDeleteAccountModal()"
    >
      <basic-input
        type="password"
        [onWhite]="true"
        [label]="t('input.currentPass')"
        [placeholder]="t('input.provideCurrentPass')"
        [errorMessage]="t('input.passRulesNotFollowed')"
        [value]="deleteAccPassword"
        (valueChange)="deleteAccPassword = $event"
        (incorrectInput)="deleteAccIncorrectPass = $event"
      />

      <div *ngIf="deleteAccConfirmationRequired">
        <basic-input
          [onWhite]="true"
          [label]="t('input.provideFullName')"
          [placeholder]="t('input.fullName')"
          [inputDescription]="t('input.accDeletionFullName')"
          [value]="deleteAccFullName"
          (valueChange)="deleteAccFullName = $event"
        />
      </div>

      <div *ngIf="deleteAccPhoneRequired">
        <p class="modal-paragraph">{{ t('settings.phoneMfaRequired') }}</p>
        <basic-phone
          [readOnly]="true"
          [onWhite]="true"
          [startCountdownManually]="true"
          [phoneInput]="userSecurity.phoneStatus.twoLastDigit"
          [phoneCodeSent]="phoneCodeSent"
          (sendSmsCode)="sendSmsCode($event)"
        />
        <div class="input-mfa-wrapper">
          <basic-input-mfa
            [onWhite]="true"
            (mfaCode)="deleteAccPhoneCode = $event"
          />
        </div>
      </div>

      <div *ngIf="deleteAccMfaRequired">
        <p class="modal-paragraph">{{ t('settings.tokenMfaRequired') }}</p>
        <div class="input-mfa-wrapper">
          <basic-input-mfa
            [onWhite]="true"
            (mfaCode)="deleteAccMfaCode = $event"
          />
        </div>
      </div>

      <div class="last-button">
        <basic-button
          [onWhite]="true"
          [fillDanger]="true"
          [label]="t('button.deleteAccount')"
          (buttonClick)="deleteUserAccount()"
        />
      </div>
    </basic-modal>

    <div class="empty-space"></div>

    <h1>{{ t('settings.recoveryKeys.title') }}</h1>
    <ul class="rules-list">
      <li class="rule">{{ t('settings.recoveryKeys.recoveryKeys1') }}</li>
      <li class="rule">{{ t('settings.recoveryKeys.recoveryKeys2') }}</li>
      <li class="rule">{{ t('settings.recoveryKeys.recoveryKeys3') }} <b>{{ t('settings.recoveryKeys.recoveryKeys4') }}</b></li>
    </ul>

    <div class="dived-line no-bottom"></div>

    <security-setting-section
      [showSection]="true"
      [title]="t('settings.recoveryKeys.sectionTitle')"
      [description]="t('settings.recoveryKeys.sectionDesc')"
      [buttonLabel]="t('settings.recoveryKeys.sectionTitle')"
      [emojiName]="'key.png'"
      (onButtonClick)="generateRecoveryKeysModal = true"
    />

    <basic-modal
      [header]="t('settings.recoveryKeys.sectionTitle')"
      [showModal]="generateRecoveryKeysModal"
      (closeModal)="closeGenerateRecoveryKeysModal()"
    >
      <page-recovery-keys
        [hideHeader]="true"
        [onWhite]="true"
        (confirmRecoveryKeysSetup)="confirmRecoveryKeysSetup()"
      />
    </basic-modal>

  </div>
</ng-container>
