@import 'variables';

.security-settings-container {
  width: 60%;
  margin: 30px auto;
}

.dived-line {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin: 20px 0;

  &.no-bottom {
    margin-bottom: 0;
  }
}

.security-setting-section {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--border-color);
  transition: .2s;
  display: flex;
  align-items: center;

  &.danger {
    border-bottom: 1px solid var(--warn-color);
    &:hover {
      border-bottom: 1px solid var(--error-color);
    }
  }

  &:hover {
    border-bottom: 1px solid var(--main-color-border);
  }
}

.security-setting-section-content {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  width: 70%;
}

.button-section {
  width: 20%;
}

.security-setting-section-title {
  font-weight: 800;
  font-size: 20px;
}

.security-setting-section-p {
  font-size: 14px;
}

.rules-list {
  margin: 20px 0 20px 20px;

  .rule {
    color: $color-dark-grey;
    font-size: 14px;
    padding-bottom: 10px;
  }
}
