<ng-container *transloco="let t">
  <div class="security-settings-container">
    <h3>{{ t('settings.securitySettingsRules.title') }}</h3>
    <ul class="rules-list">
      <li class="rule">{{ t('settings.securitySettingsRules.rule1') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule2') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule3') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule4') }}</li>
      <li class="rule">{{ t('settings.securitySettingsRules.rule5') }}</li>
    </ul>

    <div class="dived-line no-bottom"></div>

    <security-setting-section
      [showSection]="!userSecurity.isTwoFaSetUp"
      [title]="t('settings.mfa.setup2fa')"
      [description]="t('settings.mfa.setup2faDesc')"
      [buttonLabel]="t('settings.mfa.setup2fa')"
      (onButtonClick)="generateTwoFaQrCode()"
    />

    <security-setting-section
      [showSection]="userSecurity.isTwoFaSetUp"
      [title]="t('settings.mfa.disable2fa')"
      [description]="t('settings.mfa.disable2faDesc')"
      [buttonLabel]="t('settings.mfa.disable2fa')"
      [dangerButton]="true"
      [disabledButton]="userSecurity.isTwoFaSetUp && !userSecurity.phoneStatus.isSetUp"
      (onButtonClick)="disable2faModal = true"
    />

    <security-setting-section
      [showSection]="!userSecurity.phoneStatus.isSetUp"
      [title]="t('settings.phone.setupPhone')"
      [description]="t('settings.phone.setupPhoneDesc')"
      [buttonLabel]="t('settings.phone.setupPhone')"
      (onButtonClick)="setMobilePhoneModal = true"
    />

    <security-setting-section
      [showSection]="userSecurity.phoneStatus.isSetUp"
      [title]="t('settings.phone.disablePhone')"
      [description]="t('settings.phone.disablePhoneDesc')"
      [buttonLabel]="t('settings.phone.disablePhone')"
      [dangerButton]="true"
      [disabledButton]="userSecurity.phoneStatus.isSetUp && !userSecurity.isTwoFaSetUp"
      (onButtonClick)="disableMobilePhoneModal = true"
    />

    <security-setting-section
      [showSection]="true"
      [title]="t('settings.password.changePassword')"
      [description]="t('settings.password.changePasswordDesc')"
      [buttonLabel]="t('settings.password.changePassword')"
      [disabledButton]="!userSecurity.passwordCanBeChanged"
      (onButtonClick)="changePasswordModal = true"
    />

    <security-setting-section
      [showSection]="!userSecurity.emailChanged"
      [title]="t('settings.email.changeEmail')"
      [description]="t('settings.email.changeEmailDesc')"
      [buttonLabel]="t('settings.email.changeEmail')"
      (onButtonClick)="changeEmailModal = true"
    />

    <security-setting-section
      [showSection]="userSecurity.emailChanged"
      [title]="t('settings.email.changeEmail')"
      [description]="t('settings.email.emailAlreadyChanged')"
      [buttonLabel]="t('settings.email.changeEmail')"
      [disabledButton]="true"
    />

    <security-setting-section
      [showSection]="true"
      [title]="t('settings.deleteAcc.deleteAcc')"
      [description]="t('settings.deleteAcc.deleteAccDesc')"
      [buttonLabel]="t('settings.deleteAcc.deleteAcc')"
      [dangerButton]="true"
      (onButtonClick)="deleteAccountModal = true"
    />
  </div>

  <basic-modal
    [header]="t('settings.mfa.setup2fa')"
    [description]="t('settings.mfa.setup2faDesc')"
    [showModal]="set2faModal"
    (closeModal)="set2faModal = false"
  >
    <div *ngIf="qrCode" class="qr-code-wrapper"><img [ngSrc]="qrCode" width="200" height="200" alt="qr"></div>
    <div *ngIf="!qrCode" class="spinner-wrapper"><basic-spinner/></div>

    <basic-input-mfa (mfaCode)="mfaCode = $event" />

    <div class="last-button">
      <basic-button
        [label]="t('button.continue')"
        (buttonClick)="verifyTwoFaQrCode()"
      />
    </div>
  </basic-modal>

  <basic-modal
    [header]="t('')"
    [description]="t('')"
    [showModal]="disable2faModal"
    (closeModal)="disable2faModal = false"
  ></basic-modal>

  <basic-modal
    [header]="t('')"
    [description]="t('')"
    [showModal]="setMobilePhoneModal"
    (closeModal)="setMobilePhoneModal = false"
  ></basic-modal>

  <basic-modal
    [header]="t('')"
    [description]="t('')"
    [showModal]="changePasswordModal"
    (closeModal)="changePasswordModal = false"
  ></basic-modal>

  <basic-modal
    [header]="t('')"
    [description]="t('')"
    [showModal]="changeEmailModal"
    (closeModal)="changeEmailModal = false"
  ></basic-modal>

  <basic-modal
    [header]="t('')"
    [description]="t('')"
    [showModal]="deleteAccountModal"
    (closeModal)="deleteAccountModal = false"
  ></basic-modal>

</ng-container>
