@import 'variables';

.security-settings-container {
  width: 60%;
  margin: 30px auto;
}

.rules-list {
  margin: 20px 0 20px 20px;

  .rule {
    color: var(--text-color);
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.last-button {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $color-lightgray-third;
}

.empty-space {
  margin: 100px 0;
}

