@import 'variables';

footer {
  left: 0;
  bottom: 0;
  height: 60px;
  transition: transform 0.3s ease-in-out;
  box-shadow: var(--card-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  @include z-index(header);
}
