<layout-credentials
  renderSide="right"
  animation="blockchain_technology5.json"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('company-acc-conf.companyAccConfirm') }}&nbsp;</span>
        <basic-emoji emoji="locked-with-key.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div class="window-container">
      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="!accountConfirmationError">
        <div *ngIf="step === 1" [@fadeInOut]="true">
          <div *ngIf="!isCompanyAccConfirmed">
            <h2 class="third-title">{{ t('company-acc-conf.confirmInProgress') }}</h2>
            <p class="paragraph">{{ t('company-acc-conf.confirmInProgress2') }}</p>
          </div>

          <div *ngIf="isCompanyAccConfirmed && isOwnerDataNotSet">
            <h2 class="third-title flex">
              <span>{{ t('company-acc-conf.congrats') }}&nbsp;</span>
              <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
            </h2>

            <p class="paragraph">{{ t('company-acc-conf.companyAccConfirmed') }}</p>
            <p class="paragraph">{{ t('company-acc-conf.ownerPersonalData') }}</p>

            <p class="paragraph">{{ t('company-acc-conf.clickToContinue') }}</p>
          </div>

          <div *ngIf="isCompanyAccConfirmed && isPasswordNotSet">
             <h2 class="third-title flex">
              <span>{{ t('company-acc-conf.congrats') }}&nbsp;</span>
              <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
            </h2>

            <p class="paragraph">{{ t('company-acc-conf.companyAccConfirmed') }}</p>
            <p class="paragraph">{{ t('company-acc-conf.ownerPassword') }}</p>

            <p class="paragraph">{{ t('company-acc-conf.clickToContinue') }}</p>
          </div>

          <div *ngIf="isCompanyAccConfirmed && isMfaNotSet">
             <h2 class="third-title flex">
              <span>{{ t('company-acc-conf.congrats') }}&nbsp;</span>
              <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
            </h2>

            <p class="paragraph">{{ t('company-acc-conf.companyAccConfirmed') }}</p>

            <p class="paragraph">
              <span>{{ t('acc-conf.accountConfirmedMfa') }}&nbsp;</span>
              <basic-link label="Google Authenticator" [href]="googleAuthAppLink"/>
              <span>&nbsp;{{ t('acc-conf.accountConfirmedMfaOr') }}&nbsp;</span>
              <basic-link label="Microsoft Authenticator" [href]="microsoftAuthAppLink"/>
            </p>

            <p class="paragraph">{{ t('company-acc-conf.clickToContinue') }}</p>
          </div>

          <div *ngIf="isCompanyAccConfirmed && isRecoveryKeysNotSet">
            <h2 class="third-title flex">
              <span>{{ t('company-acc-conf.congrats') }}&nbsp;</span>
              <basic-emoji emoji="tada.png" [width]="32" [height]="32"/>
            </h2>

            <p class="paragraph">{{ t('company-acc-conf.companyAccConfirmed') }}</p>

            <p class="paragraph">{{ t('acc-conf.accountConfirmedRecoveryKeys') }}</p>
            <p class="paragraph">{{ t('acc-conf.accountConfirmedRecoveryKeysPass') }}</p>

            <p class="paragraph">{{ t('company-acc-conf.clickToContinue') }}</p>
          </div>

          <div class="last-button">
            <basic-button
              [disabled]="!isCompanyAccConfirmed"
              [label]="t('button.continue')"
              (buttonClick)="step = 2"
            />
          </div>
        </div>

        <div *ngIf="step === 2 && isOwnerDataNotSet" [@fadeInOut]="true">
          <h2 class="third-title">{{ t('company-acc-conf.ownerPersonalDataTitle') }}</h2>

          <p class="paragraph">{{ t('company-acc-conf.ownerPersonalDataSetup') }}</p>

          <basic-input
            [label]="t('input.firstName')"
            [placeholder]="t('input.provideFirstName')"
            [inputDescription]="t('input.fieldRequired')"
            [value]="firstName"
            [minLength]="1"
            [maxLength]="64"
            (valueChange)="firstName = $event"
            (incorrectInput)="incorrectFirstName = $event"
          />
          <basic-input
            [label]="t('input.lastName')"
            [placeholder]="t('input.provideLastName')"
            [inputDescription]="t('input.fieldRequired')"
            [value]="lastName"
            [minLength]="1"
            [maxLength]="64"
            (valueChange)="lastName = $event"
            (incorrectInput)="incorrectLastName = $event"
          />

          <div class="last-button">
            <basic-button
              [label]="t('button.continue')"
              [disabled]="ownerDataButtonDisabled()"
              (buttonClick)="confirmCompanyAccount(hash)"
            />
          </div>
        </div>

        <div *ngIf="step === 2 && isPasswordNotSet" [@fadeInOut]="true">
          <h2 class="third-title">{{ t('company-acc-conf.ownerPasswordTitle') }}</h2>

          <p class="paragraph">{{ t('company-acc-conf.ownerPassword') }}</p>

          <page-component-create-password
            (passwordChange)="password = $event"
            (incorrectInput)="incorrectPassword = $event"
          />

          <div class="last-button">
            <basic-button
              [label]="t('button.continue')"
              [disabled]="passwordButtonDisabled()"
              (buttonClick)="confirmCompanyAccount(hash)"
            />
          </div>
        </div>

        <div *ngIf="step === 2 && isMfaNotSet" [@fadeInOut]="true">
          <page-component-mfa
            [hash]="hash"
            (confirmUserMfa)="confirmCompanyAccount(hash)"
          />
        </div>

        <div *ngIf="step === 2 && isRecoveryKeysNotSet" [@fadeInOut]="true">
          <page-recovery-keys
            [hash]="hash"
            (confirmRecoveryKeysSetup)="confirmCompanyAccount(hash)"
          />
        </div>

        <div *ngIf="step === 3" [@fadeInOut]="true">
          <h2 class="third-title flex">
            <span>{{ t('acc-conf.helloThere') }}&nbsp;</span>
            <basic-emoji emoji="waving-hand.png" [width]="32" [height]="32"/>
          </h2>

          <p class="paragraph">{{ t('acc-conf.accountSecured') }}</p>

          <p class="paragraph">
            <span>{{ t('acc-conf.accountConfirmedMfaObligation') }}&nbsp;</span>
            <b>{{ t('acc-conf.accountConfirmedOneMfa') }}</b>
          </p>

          <p class="paragraph">{{ t('company-acc-conf.usersCanJoin') }}</p>

          <p class="paragraph">{{ t('company-acc-conf.companyWelcome') }}</p>

          <div class="last-button">
            <basic-button
              [label]="t('button.logIn')"
              (buttonClick)="handleRedirect('login')"
            />
          </div>
        </div>
      </div>

      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="accountConfirmationError">
        <h2 class="third-title flex">
          <span>{{ t('company-acc-conf.companyConfirmError') }}&nbsp;</span>
          <basic-emoji emoji="cross-mark.png" [width]="24" [height]="24"/>
        </h2>

        <p class="paragraph">{{ t('company-acc-conf.companyConfirmErrorDesc1') }}</p>
        <p class="paragraph">{{ t('company-acc-conf.companyConfirmErrorDesc2') }}</p>
        <p class="paragraph">{{ t('company-acc-conf.companyConfirmErrorDesc3') }}</p>

        <div class="last-button">
          <div class="link-wrapper">
            <basic-link
              [label]="t('link.maybeForgotPass')"
              href="/forgot-password"
            />
          </div>
          <basic-button
            [label]="t('button.logIn')"
            (buttonClick)="handleRedirect('login')"
          />
        </div>
      </div>
    </div>
  </ng-container>
</layout-credentials>
