<layout-credentials
  renderSide="right"
  animation="blockchain_technology5.json"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('acc-conf.accConfirm') }}&nbsp;</span>
        <basic-emoji emoji="locked-with-key.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div class="window-container">
      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="!accountConfirmationError">
        <div *ngIf="step === 1" [@fadeInOut]="true">
          <div *ngIf="!isCompanyAccConfirmed">
            <h2 class="third-title">Company account confirmation</h2>
            <p class="paragraph">Confirming your company account... Doing magic in in the background...</p>
          </div>

          <div *ngIf="isCompanyAccConfirmed && isUserDataNotSet">
            Set user data - first name and last name
          </div>

          <div *ngIf="isCompanyAccConfirmed && isPasswordNotSet">
            Set the password for the account
          </div>

          <div *ngIf="isCompanyAccConfirmed && isMfaNotSet">
            Set the MFA for the account
          </div>

          <div *ngIf="isCompanyAccConfirmed && isRecoveryKeysNotSet">
            Set the recovery keys for the account
          </div>

          <div class="last-button">
            <basic-button
              [label]="t('button.continue')"
              (buttonClick)="step = 2"
            />
          </div>
        </div>

        <div *ngIf="step === 2 && isUserDataNotSet" [@fadeInOut]="true">
          <basic-input
            [label]="t('input.provideFirstName')"
            [placeholder]="t('input.firstName')"
            [inputDescription]="t('input.fieldRequired')"
            [value]="firstName"
            [minLength]="1"
            [maxLength]="64"
            (valueChange)="firstName = $event"
            (incorrectInput)="incorrectFirstName = $event"
          />
          <basic-input
            [label]="t('input.provideLastName')"
            [placeholder]="t('input.lastName')"
            [inputDescription]="t('input.fieldRequired')"
            [value]="lastName"
            [minLength]="1"
            [maxLength]="64"
            (valueChange)="lastName = $event"
            (incorrectInput)="incorrectLastName = $event"
          />

          <div class="last-button">
            <basic-button
              [label]="t('button.continue')"
              (buttonClick)="confirmCompanyAccount(hash)"
            />
          </div>
        </div>

        <div *ngIf="step === 2 && isPasswordNotSet" [@fadeInOut]="true">
          <page-component-create-password
            (passwordChange)="password = $event"
            (incorrectInput)="incorrectPassword = $event"
          />

          <div class="last-button">
            <basic-button
              [label]="t('button.continue')"
              (buttonClick)="confirmCompanyAccount(hash)"
            />
          </div>
        </div>

        <div *ngIf="step === 2 && isMfaNotSet" [@fadeInOut]="true">
          <page-component-mfa
            [hash]="hash"
            (confirmUserMfa)="confirmCompanyAccount(hash)"
          />
        </div>

        <div *ngIf="step === 2 && isRecoveryKeysNotSet" [@fadeInOut]="true">
          <page-recovery-keys
            [hash]="hash"
            (confirmRecoveryKeysSetup)="step = 3"
          />
        </div>

        <div *ngIf="step === 3" [@fadeInOut]="true">
          change text here
          <h2 class="third-title flex">
            <span>{{ t('acc-conf.helloThere') }}&nbsp;</span>
            <basic-emoji emoji="waving-hand.png" [width]="32" [height]="32"/>
          </h2>
          <p class="paragraph">{{ t('acc-conf.accConfirmed5') }}</p>
          <p class="paragraph">
            <span>{{ t('acc-conf.accConfirmed6') }}&nbsp;</span>
            <b>{{ t('acc-conf.accConfirmed7') }}</b>
          </p>
          <p class="paragraph">
            <span>{{ t('acc-conf.accConfirmed8') }}</span>
            <b>Mnemosyne</b>
            <span>{{ t('acc-conf.accConfirmed9') }}</span>
          </p>

          <div class="last-button">
            <basic-button
              [label]="t('button.logIn')"
              (buttonClick)="handleRedirect('login')"
            />
          </div>
        </div>
      </div>

      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="accountConfirmationError">
        <h2 class="third-title flex">
          <span>{{ t('acc-conf.err') }}&nbsp;</span>
          <basic-emoji emoji="cross-mark.png" [width]="24" [height]="24"/>
        </h2>

        <p class="paragraph">Something went wrong while confirming company account :(</p>
        <p class="paragraph">It seems like the account has already been confirmed or confirmation hash has not been found.</p>
        <p class="paragraph">If company's account has already been confirmed, you can feel free to log in to it. Otherwise, check the confirmation link for typos.</p>

        <div class="last-button">
          <div class="link-wrapper">
            <basic-link
              [label]="t('link.maybeForgotPass')"
              href="/forgot-password"
            />
          </div>
          <basic-button
            [label]="t('button.logIn')"
            (buttonClick)="handleRedirect('login')"
          />
        </div>
      </div>
    </div>
  </ng-container>
</layout-credentials>
