<layout-credentials
  renderSide="right"
  animation="blockchain_technology5.json"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('acc-conf.accConfirm') }}&nbsp;</span>
        <basic-emoji emoji="locked-with-key.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div class="window-container">
      <div class="window-wrapper" [@fadeInOut]="true" *ngIf="!accountConfirmationError">
        <div *ngIf="step === 1" [@fadeInOut]="true">
          <div *ngIf="!isCompanyAccConfirmed">
            <h2 class="third-title">{{ t('acc-conf.confirmYourAcc') }}</h2>
            <p class="paragraph">{{ t('acc-conf.confirmingInProgress') }}</p>
          </div>


        </div>
      </div>
    </div>
  </ng-container>
</layout-credentials>
