@import 'variables';

.company-settings-container {
  width: 60%;
  display: flex;
  margin: 30px auto;
}

.menu-bar {
  min-width: 300px;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.menu-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.menu-option-wrapper {
  position: relative;
  display: flex;
  width: 90%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
  justify-content: center;
  align-items: center;

  &.active {
    border: 1px solid var(--main-color);
  }

  &:hover {
    background-color: var(--color-hover);
  }
}

.emoji-wrapper {
  position: absolute;
  left: 15px;
}

.content-block {
  border-left: 1px solid var(--border-color);
  margin-left: 30px;
  padding-left: 30px;
}
