@import 'variables';

.sidebar-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--loader-background);
  overflow-x: hidden;
  @include z-index(sidebar);
}

.sidebar-box {
  height: 100vh;
  width: 500px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.void {
    transform: translateX(-100%);
  }
}

.sidebar-side {
  margin: 15px;
}

.sidebar-button-wrapper {
  margin-bottom: 10px;
}
