<ng-container *transloco="let t">
  <div class="sidebar-container" *ngIf="isSidebarOpen" (click)="handleCloseSidebar()">
    <div class="sidebar-box" [@slideInOut]="true">
      <div>
        <div class="sidebar-user-welcome">
          <h1>{{ t('sidebar.sidebarWelcomeTitle', { firstName: userInfo.firstName, lastName: userInfo.lastName }) }}</h1>
          <div class="sidebar-user-preview">
            <div class="sidebar-user-data">
              <img
                [src]="userInfo.isProfilePicPresent ? staticStorageLink + '/users-profile-pictures/' + userInfo.userIdHash + '.png' : staticStorageLink + '/users-profile-pictures/default.png'"
                class="user-photo"
                alt="avatar"
              />
              <div class="sidebar-user-info">
                <p>{{ t('sidebar.sidebarUserFullName') }}: <b>{{ userInfo.firstName }} {{ userInfo.lastName }}</b></p>
                <p>{{ t('sidebar.sidebarUserEmail') }}: <b>{{ userInfo.email }}</b></p>
                <p>{{ t('sidebar.sidebarUserId') }}: <b>{{ userInfo.userIdHash }}</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-side">
          <h5 class="sidebar-account-title">{{ t('sidebar.yourAccountSidebarTitle') }}</h5>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.dashboardMainPage')"
              (buttonClick)="handleRedirect('')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.dashboardRedirect')"
              (buttonClick)="handleRedirect('account/dashboard')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.dashboardFavorites')"
              (buttonClick)="handleRedirect('account/favorites')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.settingsRedirect')"
              (buttonClick)="handleRedirect('account/settings')"
            />
          </div>
          <div class="sidebar-button-wrapper">
            <basic-button
              [label]="t('button.postProductRedirect')"
              (buttonClick)="handleRedirect('marketplace/create-product')"
            />
          </div>
          <h5 class="sidebar-account-title" *ngIf="!userInfo.isCompanyMember">{{ t('sidebar.companySettingsSidebarTitle') }}</h5>
          <h5 class="sidebar-account-title" *ngIf="userInfo.isCompanyMember">{{ t('sidebar.companySettingsSidebarTitle') }} {{ userInfo.companyName }}</h5>
          <div class="sidebar-button-wrapper" *ngIf="!userInfo.isCompanyMember">
            <basic-button
              [label]="t('button.createCompanyAcc')"
              [fillButton]="true"
              (buttonClick)="handleRedirect('registration', { accType: 'company' })"
            />
          </div>
          <div class="sidebar-button-wrapper" *ngIf="userInfo.isCompanyMember">
            <basic-button
              [label]="t('button.companySettings')"
              [fillButton]="true"
              (buttonClick)="handleRedirect('company/company-settings')"
            />
          </div>
          <div class="sidebar-button-wrapper" *ngIf="userInfo.isCompanyMember">
            <basic-button
              [label]="t('button.companyProduct')"
              [fillButton]="true"
              (buttonClick)="handleRedirect('company/company-products')"
            />
          </div>
        </div>
      </div>

      <div class="logout-sidebar-side">
        <basic-button
          [label]="t('button.logOut')"
          (buttonClick)="logout()"
        />
      </div>
    </div>
  </div>
</ng-container>
