@import 'variables';

.sidebar-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--transparent-background);
  overflow-x: hidden;
  @include z-index(sidebar);
}

.sidebar-box {
  height: 100vh;
  width: 500px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.void {
    transform: translateX(-100%);
  }
}

.sidebar-side {
  margin: 15px;
}

.logout-sidebar-side {
  padding: 15px;
  border-top: 1px solid var(--border-color);
}

.sidebar-button-wrapper {
  margin-bottom: 10px;
}

.sidebar-button-wrapper {
  margin: 15px 0;
}

.sidebar-account-title {
  font-size: 28px;
}

.sidebar-user-welcome {
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

.sidebar-user-preview {
  display: flex;
  justify-content: center;
}

.sidebar-user-data {
  display: flex;
}

.user-photo {
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.sidebar-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
