@import 'variables';

.welcome-title {
  text-align: center;
}

.main-title {
  font-size: 48px;
  margin: 0;

  @include respond_device(to_m) {
    font-size: 32px;
  }
}

.second-title {
  margin: 20px 0;
  font-size: 32px;

  &.flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include respond_device(to_m) {
    font-size: 20px;
  }
}

.third-title {
  margin: 0;

  &.flex {
    display: flex;
    align-items: center;
  }
}

.window-container {
  display: flex;
  justify-content: center;
}

.window-wrapper {
  width: 500px;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  padding: 20px;
  transition: .3s;

  .mfa-title-wrapper {
    margin-bottom: 10px;
  }

  @include respond_device(to_m) {
    width: 100%;
  }
}

.window-wrapper-stepped {
  display: none;
  width: 500px;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  padding: 20px;
  transition: .3s;

  &.show {
    display: block;
  }
}

.window-container-stepped {
  display: none;
  justify-content: center;

  &.show {
    display: flex;
  }
}

.last-button {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--border-color);

  .link-wrapper {
    margin-bottom: 20px;
    font-size: 12px;
  }
}

.button-wrapper {
  margin: 10px 0;
}

.paragraph {
  font-size: 14px;
  margin-top: 20px;

  &.on-white {
    color: $color-black;
  }
}

.alt-registration {
  margin-top: 20px
}
