<div class="welcome-title">
  <h1 class="main-title">Mnemosyne</h1>
  <h2 class="second-title">Forgot password? Not a deal!</h2>
</div>
<div class="window-wrapper">
  <h2 class="third-title">Reset password</h2>
  <basic-input
    label="Provide your email"
    placeholder="Email"
    (valueChange)="email = $event"
    inputDescription="Confirmation link will be sent to provided email address, if the account with this email address exists. Link will be valid for 24h, make sure you will reset password in this period of time."
  />
  <basic-link
    label="Back to log in page"
    href="/login"
  />
  <basic-button
    label="Reset password"
    (buttonClick)="handleForgotPassword()"
  />
</div>

<div class="window-wrapper bottom">
  <div class="flex-wrapper">
    <p>New to Mnemosyne?</p>&nbsp;<basic-link label="Create an account!" href="/registration" />
  </div>
</div>
