<layout-credentials
  renderSide="left"
  headerLink="login"
  animation="blockchain_technology3.json"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('forg-pass.forgotPassword') }}&nbsp;</span>
        <emoji emoji="gear.png" [width]="42" [height]="42"/>
      </h2>
    </div>

    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 1">
      <h2 class="third-title">{{ t('forg-pass.resetPassword') }}</h2>
      <basic-input
        [label]="t('input.provideEmail')"
        [placeholder]="t('input.email')"
        [inputDescription]="t('input.resetPassInputDesc')"
        type="email"
        [value]="email"
        (valueChange)="email = $event"
        (incorrectInput)="incorrectEmail = $event"
      />
      <div class="last-button">
        <div class="link-wrapper">
          <basic-link
            [label]="t('link.backToLogin')"
            href="/login"
          />
        </div>
        <basic-button
          [label]="t('button.resetPass')"
          [disabled]="incorrectEmail || !email"
          (buttonClick)="handleForgotPassword()"
        />
      </div>
    </div>

    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 2">
      <h2 class="third-title">{{ t('forg-pass.success') }}</h2>
      <p class="paragraph">
        <span>{{ t('forg-pass.resetEmailSent1') }}</span>
        (<b>{{ t('forg-pass.resetEmailSent2') }}</b>).
        {{ t('forg-pass.resetEmailSent3') }}
      </p>
      <p class="paragraph">{{ t('forg-pass.resetEmailSent4') }}</p>
      <p class="paragraph" *ngIf="isCountdownRunning">{{ resendMessage }}</p>

      <div class="last-button">
        <div class="link-wrapper">
          <basic-link
            [label]="t('link.backToLogin')"
            href="/login"
          />
        </div>
        <basic-button
          [label]="t('button.resetPassResendEmail')"
          [disabled]="incorrectEmail || !email || isCountdownRunning"
          (buttonClick)="handleForgotPassword()"
        />
      </div>
    </div>
  </ng-container>
</layout-credentials>
