<ng-container *transloco="let t">
  <div class="title-container">
    <basic-emoji emoji="technologist.png" [width]="48" [height]="48"/>
    <h1 class="section-title">{{ t('settings.companySettingsSection.usersManagement') }}</h1>
  </div>

  <p>{{ t('settings.companySettingsSection.usersManagementDesc') }}</p>

  <!--  <div *ngFor="let user of companyInformation.companyUsers">-->
  <!--    Email: {{ user.email }}-->
  <!--  </div>-->

  <!--  <basic-pagination-->
  <!--    [itemsPerPageLabel]="'Users per page'"-->
  <!--    [currentPage]="page"-->
  <!--    [itemsPerPage]="pageSize"-->
  <!--    [totalItems]="totalItems"-->
  <!--    (setCurrentPage)="page = $event"-->
  <!--    (setItemsPerPage)="pageSize = $event"-->
  <!--    (fetchItems)="fetchUsers()"-->
  <!--  />-->
</ng-container>
