@import 'variables';

.title-container {
  display: flex;
  align-items: center;
}

.section-title {
  margin-left: 15px;
}

.company-users-container {
  margin: 25px 0;
}

.company-users-header {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  opacity: .5;
}

.company-users-header-id {
  width: 10%;
  padding: 15px;
}

.company-users-header-email {
  width: 60%;
  border-left: 1px solid var(--border-color);
  padding: 15px;
}

.company-users-header-role {
  width: 20%;
  border-left: 1px solid var(--border-color);
  padding: 15px;
}

.company-users-header-delete {
  width: 10%;
  border-left: 1px solid var(--border-color);
  padding: 15px 0 15px 15px;
}

.company-user {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  transition: .2s;
  cursor: pointer;

  &:hover {
    background-color: var(--disabled-color);
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
}
