@import 'variables';

.title-container {
  display: flex;
  align-items: center;
}

.section-title {
  margin-left: 15px;
}

.company-users-container {
  margin: 25px 0;
}

.company-users-header {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  opacity: .5;
}

.company-users-header-id {
  width: 10%;
  padding: 15px;
}

.company-users-header-email {
  width: 50%;
  border-left: 1px solid var(--border-color);
  padding: 15px;
}

.company-users-header-role {
  width: 15%;
  border-left: 1px solid var(--border-color);
  padding: 15px;
  display: flex;
  align-items: center;
}

.company-users-header-confirmation {
  width: 15%;
  border-left: 1px solid var(--border-color);
  padding: 15px;
  display: flex;
  justify-content: center;
}

.company-users-header-more {
  width: 10%;
  border-left: 1px solid var(--border-color);
  padding: 15px 0 15px 15px;
}

.company-users-header-more-icon {
  display: flex;
  width: 10%;
  border-left: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.company-user {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  transition: .2s;

  &:hover {
    background-color: var(--disabled-color);
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.invite-user-button-box {
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
}

.info-changed {
  margin-bottom: 20px;
}

.info-changed-text {
  color: var(--error-color);
  font-size: 12px;
  font-weight: 400;
}
