<div>
  <div class="two-factor-auth">
    <input
      class="two-factor-input"
      [ngClass]="{ 'disabled': loaderService.getStatus() }"
      type="text"
      maxlength="1"
      (input)="onInputChange(0, $event)"
      (keydown.backspace)="onInputChange(0, $event)"
      [disabled]="loaderService.getStatus()"
      #input0
    >
    <input
      class="two-factor-input"
      [ngClass]="{ 'disabled': loaderService.getStatus() }"
      type="text"
      maxlength="1"
      (input)="onInputChange(1, $event)"
      (keydown.backspace)="onInputChange(1, $event)"
      [disabled]="loaderService.getStatus()"
      #input1
    >
    <input
      class="two-factor-input"
      [ngClass]="{ 'disabled': loaderService.getStatus() }"
      type="text"
      maxlength="1"
      (input)="onInputChange(2, $event)"
      (keydown.backspace)="onInputChange(2, $event)"
      [disabled]="loaderService.getStatus()"
      #input2
    >
    <input
      class="two-factor-input"
      [ngClass]="{ 'disabled': loaderService.getStatus() }"
      type="text"
      maxlength="1"
      (input)="onInputChange(3, $event)"
      (keydown.backspace)="onInputChange(3, $event)"
      [disabled]="loaderService.getStatus()"
      #input3
    >
    <input
      class="two-factor-input"
      [ngClass]="{ 'disabled': loaderService.getStatus() }"
      type="text"
      maxlength="1"
      (input)="onInputChange(4, $event)"
      (keydown.backspace)="onInputChange(4, $event)"
      [disabled]="loaderService.getStatus()"
      #input4
    >
    <input
      class="two-factor-input"
      [ngClass]="{ 'disabled': loaderService.getStatus() }"
      type="text"
      maxlength="1"
      (input)="onInputChange(5, $event)"
      (keydown.backspace)="onInputChange(5, $event)"
      [disabled]="loaderService.getStatus()"
      #input5
    >
    <button
      class="resend-button"
      *ngIf="isPhone"
      [disabled]="isCountdownRunning || loaderService.getStatus()"
      [ngClass]="{ 'disabled': isCountdownRunning || loaderService.getStatus() }"
      (click)="initResendSms()"
    >
      <p class="resend-button-label">{{ 'button.resendCode' | transloco }}</p>
    </button>
  </div>
  <p class="resend-message" *ngIf="isCountdownRunning">{{ resendMessage }}</p>
</div>
