@import 'variables';

.two-factor-auth {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.resend-message {
  display: flex;
  justify-content: flex-end;
  color: $color-dark-grey;
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

.two-factor-input[type="text"] {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 1px solid rgba($color-main-hover, 0.5);
  border-radius: 5px;
  background-color: #f5f5f5;
  transition: all 0.3s;

  @include respond_device(to_m) {
    width: 42px;
    height: 42px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: $color-white;
    border: 1px solid rgba($color-black, 0.1);
  }
}

.resend-button {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba($color-main-hover, 0.5);
  transition: .3s;

  &.disabled {
    background-color: rgba($block-color, .20);
    border: 1px solid rgba($color-black, 0.1);

    &:hover {
      cursor: default;
      box-shadow: none !important;
      background-color: rgba($block-color, .20) !important;
    }
  }

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: $color-white;
    border: 1px solid rgba($color-black, 0.1);
  }
}

.resend-button-label {
  padding: 0 10px;
}
