<ng-container *transloco="let t">
  <basic-input
    type="password"
    [onWhite]="onWhite"
    [label]="t('input.providePass')"
    [placeholder]="t('input.pass')"
    [errorMessage]="t('input.passRulesNotFollowed')"
    [value]="password"
    (valueChange)="onInput($event, passwordRepeat)"
    (incorrectInput)="incorrectPassword = $event"
    (passwordErrors)="passwordErrors = $event"
  />
  <basic-input
    type="password-repeat"
    [onWhite]="onWhite"
    [label]="t('input.provideRepeatPass')"
    [placeholder]="t('input.passRepeat')"
    [errorMessage]="t('input.wrongPassFormatOrMiss')"
    [showError]="passwordRepeatError()"
    [value]="passwordRepeat"
    (valueChange)="onInput(password, $event)"
  />
</ng-container>

<div *ngIf="password" class="errors-box" [@fadeInOut]="password">
  <div *ngFor="let error of passwordErrors">
    <div class="error-item" [class.show-error]="error.error">
      <div class="circle" [ngClass]="{ 'error': error.error }"></div>
      <p class="error-text" [ngClass]="{ 'on-white': onWhite }">{{ error.text }}</p>
    </div>
  </div>
</div>
