<basic-input
  label="Provide your password"
  placeholder="Password"
  type="password"
  errorMessage="Wrong password format. Not all rules are followed!"
  [value]="password"
  (valueChange)="onInput($event, passwordRepeat)"
  (incorrectInput)="incorrectPassword = $event"
  (passwordErrors)="passwordErrors = $event"
/>
<basic-input
  label="Repeat your password"
  placeholder="Password repeat"
  type="password-repeat"
  errorMessage="Wrong password format or password mismatch."
  [showError]="showPasswordRepeatError()"
  [value]="passwordRepeat"
  (valueChange)="onInput(password, $event)"
/>

<div *ngIf="password" class="errors-box" [@fadeInOut]="password">
  <div *ngFor="let error of passwordErrors">
    <div class="error-item" [class.show-error]="error.error">
      <div class="circle" [ngClass]="{ 'error': error.error }"></div>
      <p>{{ error.text }}</p>
    </div>
  </div>
</div>
