@import 'variables';

.errors-box {
  transition: opacity 0.3s ease-in-out;
}

.error-item {
  font-size: 13px;
  color: $color-dark-grey;
  display: inline-grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  padding: 5px;
  margin: 5px 0;

  @media only screen and (max-width: 1000px) {
    font-size: 10px;
  }
}

.circle {
  height: 16px;
  width: 16px;
  background-color: $success-color;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;

  &.error {
    background-color: $error-color;
  }
}

.error-text {
  &.on-white {
    color: $color-black;
  }
}
