@import 'variables';

.qr-code-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.qr-code {
  cursor: pointer;
}

.options-list {
  margin: 20px 0 20px 20px;

  .option-item {
    color: var(--text-color);
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.p-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}
