<ng-container *transloco="let t">
  <h2 class="third-title flex">
    <span>{{ t('mfa.secureYourAcc') }}&nbsp;</span>
    <basic-emoji emoji="shield.png" [width]="32" [height]="32"/>
  </h2>
  <p class="paragraph">{{ t('mfa.mfaObligation') }}</p>
  <p class="paragraph">
    <span>{{ t('mfa.twoOptions') }}</span>
    (<b><span>{{ t('mfa.canBeChangedLater') }}</span></b>):
  </p>

  <ul class="options-list">
    <li class="option-item">
      <b><span>{{ t('mfa.phoneNumber') }}</span></b>
      <span>{{ t('mfa.phoneNumberDesc') }}</span>
    </li>
    <li class="option-item">
      <b><span>{{ t('mfa.authApp') }}</span></b>
      <span>{{ t('mfa.authAppDesc') }}</span>
    </li>
  </ul>

  <basic-dropdown
    [options]="[
    { key: 'phone', value: t('dropdown.mobilePhone') },
    { key: 'mfa', value: t('dropdown.authApp') }
  ]"
    [disabled]="isCountdownRunning"
    (selectedOption)="changeMfaOption($event)"
    [defaultLabel]="t('dropdown.selectMfaOption')"
  />

  <div *ngIf="selectedMfaOption?.key === 'phone'">
    <basic-input-button
      (buttonClick)="sendSmdCode()"
      (inputValueChange)="isMobilePhoneCorrect($event)"
      [inputShowError]="!isPhoneCorrect && phone.length > 0"
      [inputDisabled]="isCountdownRunning"
      [buttonLabel]="!phoneCodeSent ? t('button.sendCode') : t('button.resendCode')"
      [buttonDisabled]="!isPhoneCorrect || !phone || isCountdownRunning"
      [buttonDescription]="isCountdownRunning ? resendMessage : null"
      [inputErrorMessage]="t('input.phoneInvalidFormat')"
      [placeholder]="t('input.providePhone')"
      [inputPlaceholder]="t('input.phone')"
      [inputDescription]="t('input.phoneInputDescription')"
    />
    <div *ngIf="phoneCodeSent">
      <basic-input-mfa (mfaCode)="code = $event" />
    </div>
  </div>

  <div *ngIf="selectedMfaOption?.key === 'mfa'">
    <p class="paragraph">
      <span>{{ t('mfa.scanQr1') }}</span>
      <basic-link label="Google Authenticator" [bold]="true" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&pli=1"/>
      <span>{{ t('mfa.scanQr2') }}</span>
      <basic-link label="Microsoft Authenticator" [bold]="true" href="https://support.microsoft.com/en-us/account-billing/download-and-install-the-microsoft-authenticator-app-351498fc-850a-45da-b7b6-27e523b8702a"/>
      <span>{{ t('mfa.scanQr3') }}</span>
    </p>
    <div *ngIf="qrCode" class="qr-code-wrapper">
      <img [ngSrc]="qrCode" width="200" height="200" alt="qr">
    </div>
    <div class="qr-code-input-wrapper">
      <basic-input-mfa (mfaCode)="code = $event" />
    </div>
  </div>

  <div class="last-button">
    <basic-button
      [label]="t('button.continue')"
      [disabled]="!isAllFieldsCorrect()"
      (buttonClick)="setUserMfa()"
    />
  </div>
</ng-container>
