<div class="btn-container">
  <button
    class="btn"
    [ngClass]="{
      'disabled': disableButton(),
      'high-height': highHeight,
      'fill-button': fillButton,
      'danger': danger,
      'fill-danger': fillDanger,
      'on-white': onWhite
    }"
    [disabled]="disableButton()"
    (click)="onClick()"
  >
    <p
      class="button-label"
      [ngClass]="{
        'fill-button' : fillButton,
        'on-white': onWhite
      }"
    >{{ label }}</p>
  </button>
  <p
    [ngClass]="{
      'button-description': buttonDescription,
      'on-white': onWhite
    }"
    *ngIf="buttonDescription"
  >
    {{ buttonDescription }}
  </p>
</div>
