@import 'variables';

.btn-container {
  width: 100%;
}

.btn {
  height: 36px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--main-color-border);
  transition: .3s;
  background-color: var(--bg-color);
  color: var(--text-color);

  &.high-height {
    height: 48px;
  }

  &.disabled {
    background-color: var(--disabled-color);
    border: 1px solid var(--border-color);

    &:hover {
      cursor: default;
      box-shadow: none !important;
      background-color: var(--disabled-color) !important;
    }
  }

  &.danger {
    border: 1px solid var(--warn-color);

    &:hover {
      border: 1px solid var(--warn-color);
      background-color: var(--warn-color);
    }
  }

  &.fill-danger {
    border: 1px solid var(--warn-color);
    background-color: var(--warn-color);

    &:hover {
      background-color: var(--warn-color);
      border: 1px solid var(--warn-color);
    }
  }

  &.fill-button {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);

    &:hover {
      background-color: var(--main-color-hover) !important;
    }

    &.disabled {
      background-color: var(--disabled-color);
      border: 1px solid var(--border-color);
    }
  }

  &:hover {
    background-color: var(--color-hover);
  }
}

.button-label {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  padding: 0 5px;

  &.fill-button {
    color: $color-black !important;
  }
}

.button-description {
  font-size: small;
  opacity: .5;
  margin-top: 5px;
}
