<div class="btn-container">
  <button
    class="btn"
    [ngClass]="{
      'disabled': disabled || loaderService.getStatus(),
      'high-height': highHeight,
      'fill-button': fillButton,
      'danger': danger,
      'fill-danger': fillDanger
    }"
    [disabled]="disabled || loaderService.getStatus()"
    (click)="onClick()"
  >
    <p [ngClass]="fillButton ? 'button-label fill-button' : 'button-label'">{{ label }}</p>
  </button>
  <p
    [class]="buttonDescription ? 'button-description' : ''"
    *ngIf="buttonDescription"
  >
    {{ buttonDescription }}
  </p>
</div>
