@import 'variables';

.btn-container {
  width: 100%;
  display: flex;

  .btn {
    height: 36px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba($color-main-hover, 0.5);
    transition: .3s;

    .button-label {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      padding: 0 5px;
    }

    &.highHeight {
      height: 48px;
    }

    &.disabled {
      background-color: rgba($block-color, .20);
      border: 1px solid rgba($color-black, 0.1);

      &:hover {
        cursor: default;
        box-shadow: none !important;
        background-color: rgba($block-color, .20) !important;
      }
    }

    &.danger {
      border: 1px solid rgb($warn-color, .5);
      &:hover {
        border: 1px solid rgb($warn-color, 1);
        background-color: rgba($warn-color, .20);
      }
    }

    &.fillDanger {
      border: 1px solid $warn-color;
      background-color: $warn-color;
      &:hover {
        background-color: $warn-color;
        border: 1px solid $warn-color;
      }
    }

    &.fillButton {
      border: 1px solid $function-color;
      background-color: $function-color;
    }

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      background-color: $color-white;
      border: 1px solid rgba($color-black, 0.1);
    }
  }
}
