<layout-credentials
  renderSide="left"
  animation="blockchain_technology6.json"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="false"
>
  <div class="welcome-title" [@fadeInOut]="true">
    <h1 class="main-title">Mnemosyne</h1>
    <h2 class="second-title flex">
      <span>{{ 'res-pass.resetPass' | transloco }}&nbsp;</span>
      <basic-emoji emoji="optical-disk.png" [width]="48" [height]="48"/>
    </h2>
  </div>

  <div class="window-container">
    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 1">
      <h2 class="third-title">{{ 'res-pass.resetYourPass' | transloco }}</h2>

      <page-component-create-password
        (passwordChange)="password = $event"
        (incorrectInput)="incorrectPassword = $event"
      />

      <div class="last-button">
        <ng-container *transloco="let t">
          <basic-button
            [label]="t('button.setUpNewPass')"
            [disabled]="incorrectPassword"
            (buttonClick)="resetUserPassword()"
          />
        </ng-container>
      </div>
    </div>

    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 2">
      <ng-container *transloco="let t">
        <h2 class="third-title">{{ t('login.addVerification') }}</h2>

        <div *ngIf="isPhoneRequired">
          <p class="paragraph mfa-title-wrapper">{{ t('login.smsCode') }}</p>
          <basic-input-mfa
            [isPhone]="true"
            (mfaCode)="phoneCode = $event"
            (resendSms)="resendSmsCode()"
          />
        </div>
        <div *ngIf="isMfaRequired">
          <p class="paragraph mfa-title-wrapper">{{ t('login.mobileCode') }}</p>
          <basic-input-mfa (mfaCode)="mfaCode = $event" />
        </div>

        <div class="last-button">
          <div class="link-wrapper">
            <basic-link [label]="t('link.mfaNoAccess')" href="/recover-account" />
          </div>
          <basic-button
            [label]="t('button.setUpNewPass')"
            [disabled]="mfaButtonDisabled()"
            (buttonClick)="resetUserPassword()"
          />
        </div>
      </ng-container>
    </div>

    <div class="window-wrapper" [@fadeInOut]="true" *ngIf="step === 3">
      <ng-container *transloco="let t">
        <h2 class="third-title">{{ t('res-pass.newPassSet1') }}</h2>

        <p class="paragraph"><b>{{ t('res-pass.newPassSet2') }}</b></p>
        <p class="paragraph">{{ t('res-pass.newPassSet3') }}</p>

        <div class="last-button">
          <basic-button
            [label]="t('button.logIn')"
            (buttonClick)="handleRedirect('login')"
          />
        </div>
      </ng-container>
    </div>
  </div>
</layout-credentials>
