<layout-credentials
  renderSide="left"
  animation="blockchain_technology6.json"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="false"
>
  <div class="welcome-title" [@fadeInOut]="true">
    <h1 class="main-title">Mnemosyne</h1>
    <h2 class="second-title flex">Reset password&nbsp;<emoji emoji="optical-disk.png" [width]="48" [height]="48"/></h2>
  </div>

  <div class="window-wrapper">
    <h2 class="third-title">Reset your password</h2>
  </div>
</layout-credentials>
