@import 'variables';

.link-component {
  .link-anchor {
    transition: all .3s;
    color: $color-main;

    &:hover {
      color: $color-main-hover !important;
    }

    &:visited {
      color: $color-main;
    }
  }
}
