@import 'variables';

.products-modal-container {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  display: flex;
  background: var(--transparent-background);
  @include z-index(modal);
}

.products-modal-wrapper {
  flex-direction: column;
  width: 700px;
  background: $color-white 0 0 no-repeat padding-box;
  border-radius: 6px;
  display: flex;
  padding-bottom: 15px;
  max-height: 80vh;
  overflow-y: auto;
}

.products-modal-window-header {
  margin-top: 10px;
  height: 72px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  color: $black;
  overflow: hidden;

  img {
    cursor: pointer;
  }
}

.products-modal-input-wrapper {
  width: 100%;
  margin-right: 10px;
}

.products-modal-filters-wrapper {
  min-width: 100px;
  display: flex;
  height: 100%;
  align-items: flex-end;
  margin-bottom: 10px;
}

.products-modal-filters-container {
  width: 700px;
  background: $color-white 0 0 no-repeat padding-box;
  border-radius: 6px 6px 0 0;
  bottom: 220px;
  border-bottom: 1px solid rgba($color-black, .1);
}

.products-modal-filters-item {
  padding: 15px 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-modal-pagination {
  display: flex;
  justify-content: center;
}

.products-modal-filters-price {
  padding: 0 15px;
}

.products-modal-price-fields {
  display: flex;
  justify-content: space-between;
}

.products-modal-price-error {
  opacity: .75;
  color: var(--error-color);
}

.products-modal-filters-buttons {
  display: flex;
  padding: 0 15px 15px 15px;
  justify-content: space-between;
  align-items: flex-end;
}

.products-modal-clear-filter-button {
  margin: 0 15px 15px 15px;
}

.products-modal-filters-button {
  width: 100%;

  &.margin-right {
    margin-right: 15px;
  }

  &.margin-left {
    margin-left: 15px;
  }

  &.flex {
    display: flex;
    justify-content: space-between;
  }
}

.products-modal-text {
  color: $color-black;
}

.products-modal-table {
  border: 1px solid rgba($color-black, .1);
  border-top: none;
  border-collapse: collapse;
  margin-top: 15px;
}

.products-modal-table-item {
  height: 48px;
  border: 1px solid rgba($color-black, .1);
  border-top: none;
  border-collapse: collapse;
}

.products-modal-row {
  text-align: center;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background-color: $color-shadow-hover-light;
  }
}

.products-modal-order-items {
  display: flex;
  margin-bottom: 15px;
}

.products-modal-order-item {
  width: 100%;

  &.margin-right {
    margin: 0 15px;
  }

  &.margin-left {
    margin: 0 15px;
  }
}

.products-modal-order-desc {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 400;
  color: $color-black;
}

.products-modal-items-buttons {
  display: flex;
}

.order-by-button-label {
  margin: 5px;
  font-size: 14px;
  font-weight: 400;
  color: $color-black;
}

.order-by-button {
  min-height: 36px;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba($color-main-border, .5);
  transition: .3s;
  background-color: $color-white;
  color: $text-color;

  &.left-border {
    border-radius: 5px 0 0 5px;
  }

  &.right-border {
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    background-color: $color-shadow-hover-light;
  }

  &.active {
    border: 1px solid $color-main;
    background-color: $color-main;

    &:hover {
      background-color: $color-main-hover !important;
    }
  }
}
