@import 'variables';

.arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--text-color);
  transition: transform 0.2s;

  &.arrow-open {
    transform: translateY(-50%) rotate(180deg);
  }

  &.on-white {
    border-top: 4px solid $text-color;
  }
}
