<layout-credentials
  renderSide="right"
  headerLink="login"
  animation="blockchain_technology4.json"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
  [isScrollable]="true"
  [currentStep]="step"
  [scrollableStep]="2"
>
  <div class="welcome-title" [@fadeInOut]="true">
    <h1 class="main-title">Mnemosyne</h1>
    <h2 class="second-title flex">
      <span>{{ 'reg.niceToSeeYou' | transloco }}&nbsp;</span>
      <emoji emoji="rocket.png" [width]="48" [height]="48"/>
    </h2>
  </div>

  <div class="window-wrapper">
    <div *ngIf="step === 1" [@fadeInOut]="true">
      <h2 class="third-title">{{ 'reg.registration' | transloco }}</h2>
      <ng-container *transloco="let t">
        <basic-input
          [label]="t('input.provideEmail')"
          [placeholder]="t('input.email')"
          [errorMessage]="t('input.wrongEmailFormat')"
          type="email"
          [value]="email"
          (valueChange)="email = $event"
          (incorrectInput)="incorrectEmail = $event"
        />
      </ng-container>

      <page-component-create-password
        (passwordChange)="password = $event"
        (incorrectInput)="incorrectPassword = $event"
      />

      <ng-container *transloco="let t">
        <div class="last-button">
          <div class="link-wrapper">
            <basic-link
              [label]="t('link.alreadyHaveAccount')"
              href="/login"
            />
          </div>
          <basic-button
            [label]="t('button.createAcc')"
            (buttonClick)="nextStep()"
            [disabled]="wrongCredentials({ includeAll: false })"
          />
        </div>
      </ng-container>
    </div>

    <div *ngIf="step === 2" [@fadeInOut]="true">
      <h2 class="third-title">{{ 'reg.registration' | transloco }}</h2>
      <ng-container *transloco="let t">
        <basic-input
          [label]="t('input.provideFirstName')"
          [placeholder]="t('input.firstName')"
          [inputDescription]="t('input.fieldRequired')"
          [value]="firstName"
          [minLength]="1"
          [maxLength]="64"
          (valueChange)="firstName = $event"
          (incorrectInput)="incorrectFirstName = $event"
        />
        <basic-input
          [label]="t('input.provideLastName')"
          [placeholder]="t('input.lastName')"
          [inputDescription]="t('input.fieldRequired')"
          [value]="lastName"
          [minLength]="1"
          [maxLength]="64"
          (valueChange)="lastName = $event"
          (incorrectInput)="incorrectLastName = $event"
        />
        <basic-input
          [label]="t('input.location')"
          [placeholder]="t('input.provideLocation')"
          [inputDescription]="t('input.locationDesc')"
          [value]="location"
          [minLength]="8"
          [maxLength]="128"
          (valueChange)="location = $event"
          (incorrectInput)="incorrectLocationName = $event"
        />
        <basic-input
          [label]="t('input.company')"
          [placeholder]="t('input.provideCompany')"
          [inputDescription]="t('input.companyDesc')"
          [value]="company"
          [minLength]="2"
          [maxLength]="64"
          (valueChange)="company = $event"
          (incorrectInput)="incorrectCompanyName = $event"
        />
        <basic-input
          [label]="t('input.website')"
          [placeholder]="t('input.provideWebsite')"
          [inputDescription]="t('input.websiteDesc')"
          [showError]="!validationService.isFQDN(website)"
          [errorMessage]="t('input.wrongFQDN')"
          [value]="website"
          (valueChange)="website = $event"
        />
        <basic-checkbox
          label='tac'
          [checked]="false"
          (checkedChange)="tac = $event"
        />
        <basic-button
          [label]="t('button.createAcc')"
          (buttonClick)="handleRegistration()"
          [disabled]="wrongCredentials({ includeAll: true })"
          [fillButton]="true"
        />
        <div class="last-button">
          <basic-button
            [label]="t('button.goBack')"
            (buttonClick)="backStep()"
          />
        </div>
      </ng-container>
    </div>

    <div *ngIf="step === 3" [@fadeInOut]="true">
      <ng-container *transloco="let t">
        <h2 class="third-title">{{ t('reg.registration') }}</h2>

        <p class="paragraph">{{ t('reg.registrationComplete') }}</p>
        <p class="paragraph">{{ t('reg.confirmLinkSent') }}</p>
        <p class="paragraph">{{ t('reg.whenAddressConfirmed') }}</p>

        <div class="last-button">
          <basic-button
            [label]="t('button.logIn')"
            (buttonClick)="handleRedirect('login')"
          />
        </div>
      </ng-container>
    </div>
  </div>

  <div class="alt-registration">
    <page-component-alt-registration [block]="false" />
  </div>
</layout-credentials>
