<div class="welcome-title">
  <h1 class="main-title">Mnemosyne</h1>
  <h2 class="second-title">Welcome, username</h2>
</div>
<div class="window-wrapper">
  <h2 class="third-title">Registration</h2>
  <basic-input
    label="Provide your email address"
    placeholder="Email"
    (valueChange)="email = $event"
    (incorrectInput)="incorrectCredentials = $event"
  />
  <basic-input
    label="Provide your password"
    placeholder="Password"
    type="password"
    (valueChange)="password = $event"
    (incorrectInput)="incorrectCredentials = $event"
  />
  <basic-input
    label="Repeat your password"
    placeholder="Password repeat"
    type="password"
    (valueChange)="passwordRepeat = $event"
  />
  <basic-link
    label="Already have a account?"
    href="/login"
  />
  <basic-button
    label="Create an account"
    (buttonClick)="handleRegistration()"
    [disabled]="incorrectCredentials"
  />
</div>
