<div class="welcome-title">
  <h1 class="main-title">Mnemosyne</h1>
  <h2 class="second-title">Welcome, username</h2>
</div>

<div class="window-wrapper">
  <div *ngIf="step === 1">
    <h2 class="third-title">Registration</h2>
    <basic-input
      label="Provide your email address"
      placeholder="Email"
      type="email"
      [value]="email"
      (valueChange)="email = $event"
      (incorrectInput)="incorrectEmail = $event"
    />
    <basic-input
      label="Provide your password"
      placeholder="Password"
      type="password"
      [value]="password"
      (valueChange)="password = $event"
      (incorrectInput)="incorrectPassword = $event"
      (passwordErrors)="passwordErrors = $event"
    />
    <basic-input
      label="Repeat your password"
      placeholder="Password repeat"
      type="password"
      errorMessage="Wrong password or password mismatch."
      [value]="passwordRepeat"
      (valueChange)="passwordRepeat = $event"
    />

    <div *ngIf="password" class="errors-box" [@fadeInOut]="password">
      <div *ngFor="let error of passwordErrors">
        <div class="error-item" [class.show-error]="error.error">
          <div class="circle" [ngClass]="{ 'error': error.error }"></div>
          <p>{{ error.text }}</p>
        </div>
      </div>
    </div>

    <basic-link
      label="Already have a account?"
      href="/login"
    />

    <basic-button
      label="Create an account"
      (buttonClick)="nextStep()"
      [disabled]="isAllCredentialsCorrect()"
    />
  </div>

  <div *ngIf="step === 2">
    <h2 class="third-title">Registration</h2>
    <basic-input
      label="Provide your first name"
      placeholder="First name"
      (valueChange)="firstName = $event"
    />
    <basic-input
      label="Provide your last name"
      placeholder="Last name"
      (valueChange)="lastName = $event"
    />
    <basic-button
      label="Create an account"
      (buttonClick)="handleRegistration()"
      [fillButton]="true"
    />
    <div class="back-button">
      <basic-button
        label="Go back"
        (buttonClick)="backStep()"
      />
    </div>
  </div>
</div>
