@import 'variables';

.company-stats-title {
  font-size: 42px;
  display: flex;
  align-items: center;
  align-content: center;
}

.company-stats-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  th, td {
    border: 1px solid var(--border-color);
    height: 36px;
    color: var(--text-color);
  }
}
