<layout-credentials
  renderSide="right"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>Confirm email change&nbsp;</span>
        <basic-emoji emoji="cyclone.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div
      class="window-wrapper"
      [@fadeInOut]="true"
      *ngIf="step === 1"
    ></div>

    <div
      class="window-wrapper"
      [@fadeInOut]="true"
      *ngIf="step === 2"
    ></div>

    <div
      class="window-wrapper"
      [@fadeInOut]="true"
      *ngIf="step === 3"
    ></div>
  </ng-container>
</layout-credentials>
