<layout-credentials
  renderSide="right"
  animation="blockchain_technology5.json"
  headerLink="login"
  [isAnimation]="true"
  [width]="500"
  [height]="500"
  [mirroredHeader]="true"
>
  <ng-container *transloco="let t">
    <div class="welcome-title" [@fadeInOut]="true">
      <h1 class="main-title">Mnemosyne</h1>
      <h2 class="second-title flex">
        <span>{{ t('email-change.title') }}&nbsp;</span>
        <basic-emoji emoji="cyclone.png" [width]="48" [height]="48"/>
      </h2>
    </div>

    <div *ngIf="!emailChangeError" class="window-container">
      <div
        class="window-wrapper"
        [@fadeInOut]="true"
        *ngIf="step === 1"
      >
        <h2 class="third-title">{{ t('email-change.confirming') }}</h2>
        <p class="paragraph">{{ t('email-change.confirming2') }}</p>
      </div>

      <div
        class="window-wrapper"
        [@fadeInOut]="true"
        *ngIf="step === 2"
      >
        <h2 class="third-title">{{ t('email-change.title') }}</h2>
        <p class="paragraph">{{ t('email-change.confirmationDesc') }}</p>

        <basic-input
          type="password"
          [label]="t('input.providePass')"
          [placeholder]="t('input.pass')"
          [errorMessage]="t('input.passRulesNotFollowed')"
          [value]="password"
          (valueChange)="password = $event"
          (incorrectInput)="incorrectPassword = $event"
        />

        <div *ngIf="isPhoneRequired">
          <p class="paragraph mfa-title-wrapper">{{ t('login.smsCode') }}</p>
          <basic-input-mfa
            [isPhone]="true"
            (mfaCode)="phoneCode = $event"
            (resendSms)="resendSmsCode()"
          />
        </div>
        <div *ngIf="isMfaRequired">
          <p class="paragraph mfa-title-wrapper">{{ t('login.mobileCode') }}</p>
          <basic-input-mfa (mfaCode)="mfaCode = $event" />
        </div>

        <div class="last-button">
          <basic-button
            [label]="t('button.continue')"
            [disabled]="disableContinueButton()"
            (buttonClick)="confirmEmailChange()"
          />
        </div>
      </div>

      <div
        class="window-wrapper"
        [@fadeInOut]="true"
        *ngIf="step === 3"
      >
        <h2 class="third-title flex">
          <span>{{ t('email-change.emailChanged') }}&nbsp;</span>
          <basic-emoji emoji="thumbs-up.png" [width]="32" [height]="32"/>
        </h2>

        <p class="paragraph">{{ t('email-change.emailChanged1') }}</p>
        <p class="paragraph">{{ t('email-change.emailChanged2') }}</p>

        <div class="last-button">
          <basic-button
            [label]="t('button.logIn')"
            (buttonClick)="handleRedirect('login')"
          />
        </div>
      </div>
    </div>

    <div
      class="window-wrapper"
      [@fadeInOut]="true"
      *ngIf="emailChangeError"
    >
      <h2 class="third-title flex">
        <span>{{ t('email-change.emailChangeError') }}&nbsp;</span>
        <basic-emoji emoji="cross-mark.png" [width]="24" [height]="24"/>
      </h2>

      <p class="paragraph">{{ t('email-change.emailChangeErrorDesc') }}</p>

      <div class="last-button">
        <basic-button
          [label]="t('button.logIn')"
          (buttonClick)="handleRedirect('login')"
        />
      </div>
    </div>
  </ng-container>
</layout-credentials>
