<ng-container *transloco="let t">
  <div class="title-container">
    <basic-emoji emoji="warning.png" [width]="48" [height]="48"/>
    <h1 class="section-title">{{ t('settings.companySettingsSection.rolesManagement') }}</h1>
  </div>

  <p>{{ t('settings.companySettingsSection.roleManagementDesc') }}</p>

  <div class="create-new-role-button-box">
    <basic-button
      [label]="t('button.createNewRole')"
      (buttonClick)="openCreateNewRoleModal()"
    />
  </div>

  <basic-modal
    [header]="t('settings.companySettingsSection.createNewRoleHeader')"
    [description]="t('settings.companySettingsSection.createNewRoleDesc')"
    [showModal]="showCreateNewRoleModal"
    (closeModal)="closeCreateNewRoleModal()"
  >
    <basic-input
      [onWhite]="true"
      [label]="t('input.newRoleName')"
      [placeholder]="t('input.provideNewRoleName')"
      [inputDescription]="t('input.provideNewRoleNameDesc')"
      [value]="newRoleName"
      (valueChange)="newRoleName = $event"
    />
    <basic-input
      [onWhite]="true"
      [label]="t('input.newRoleDescription')"
      [placeholder]="t('input.provideNewRoleDescription')"
      [inputDescription]="t('input.provideNewRoleDescriptionDesc')"
      [value]="newRoleDescription"
      (valueChange)="newRoleDescription = $event"
    />

    <div *ngFor="let scope of roleScopes">
      <basic-checkbox
        [checked]="false"
        (checkedChange)="pushNewRoleScope(scope)"
      >
        <span class="on-white-checkbox" content>
          {{ scope }}
        </span>
      </basic-checkbox>
    </div>

    <div class="last-button">
      <basic-button
        [onWhite]="true"
        [label]="t('button.createNewRole')"
        [disabled]="disableCreateNewRoleButton()"
        (buttonClick)="createNewRole()"
      />
    </div>
  </basic-modal>

</ng-container>
