@import 'variables';

.create-new-role-button-box {
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
}

.on-white-checkbox {
  color: $color-black;
}

.on-white-checkbox-desc {
  color: $color-black;
  font-size: 12px;
  opacity: .75;
}

.company-roles-container {
  margin: 25px 0;
}

.company-roles-header {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  opacity: .5;
}

.company-roles-id {
  width: 10%;
  padding: 15px;
}

.company-roles-name {
  width: 20%;
  border-left: 1px solid var(--border-color);
  padding: 15px;
}

.company-roles-desc {
  width: 50%;
  border-left: 1px solid var(--border-color);
  padding: 15px;
}

.company-roles-more {
  width: 20%;
  border-left: 1px solid var(--border-color);
  padding: 15px;
}

.company-roles-more-icon {
  display: flex;
  width: 20%;
  border-left: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.company-role {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  transition: .2s;

  &:hover {
    background-color: var(--disabled-color);
  }
}

.role-assignee-container {
  max-height: 90px;
  border: 1px solid rgba($color-black, .1);
  border-radius: 8px;

  .role-assignee {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 16px;
    transition: .2s;
    cursor: pointer;
    font-size: 14px;
    opacity: .75;
    color: $color-black;
    border-radius: 8px;

    &:hover {
      background-color: rgba($block-color, .2);
    }
  }
}

.found-company-member-container {
  border-left: 1px solid rgba($color-black, .1);
  border-top: 1px solid rgba($color-black, .1);
  border-right: 1px solid rgba($color-black, .1);
  display: flex;
  justify-content: space-between;

  .found-company-member {
    font-size: 14px;
    opacity: .75;
    color: $color-black;
    padding: 15px;
  }

  .remove-found-company-member {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-left: 1px solid rgba($color-black, .1);
  }
}
