<ng-container *transloco="let t">
  <div class="title-container">
    <basic-emoji emoji="warning.png" [width]="48" [height]="48"/>
    <h1 class="section-title">{{ t('settings.companySettingsSection.rolesManagement') }}</h1>
  </div>

  <p>{{ t('settings.companySettingsSection.roleManagementDesc') }}</p>

  <div class="create-new-role-button-box">
    <basic-button
      [label]="t('button.createNewRole')"
      (buttonClick)="openCreateNewRoleModal()"
    />
  </div>

  <div class="company-roles-container">
    <div class="company-roles-header">
      <p class="company-roles-id">ID</p>
      <p class="company-roles-name">
        {{ t('settings.companySettingsSection.roleNameHeader') }}
      </p>
      <p class="company-roles-desc">
        {{ t('settings.companySettingsSection.roleDescHeader') }}
      </p>
      <p class="company-roles-more">
        {{ t('settings.companySettingsSection.roleMoreInfoHeader') }}
      </p>
    </div>

    <div class="company-role" *ngFor="let role of companyRoles; let idx = index">
      <p class="company-roles-id">{{ idx + 1 }}</p>
      <p class="company-roles-name">{{ role.name }}</p>
      <p class="company-roles-desc">{{ role.description }}</p>
      <p
        (click)="showRoleMoreInfo(role)"
        class="company-roles-more-icon"
      >
        <basic-emoji emoji="three-dots.svg" [isSvg]="true" [width]="16" [height]="16"/>
      </p>
    </div>
  </div>

  <basic-modal
    [header]="t('settings.companySettingsSection.roleInfoHeader')"
    [description]="t('settings.companySettingsSection.roleInfoDesc')"
    [showModal]="showRoleMoreInfoModal"
    (closeModal)="closeRoleMoreInfoModal()"
  >
    <basic-input
      [onWhite]="true"
      [label]="t('input.roleName')"
      [placeholder]="t('input.provideRoleName')"
      [inputDescription]="t('input.provideRoleNameDesc')"
      [errorMessage]="t('input.roleNameError')"
      [minLength]="2"
      [maxLength]="64"
      [value]="currentRoleName"
      (valueChange)="currentRoleName = $event"
      (incorrectInput)="incorrectCurrentRoleName = $event"
    />
    <basic-input
      [onWhite]="true"
      [label]="t('input.roleDescription')"
      [placeholder]="t('input.provideRoleDescription')"
      [inputDescription]="t('input.provideRoleDescriptionDesc')"
      [errorMessage]="t('input.roleDescriptionError')"
      [minLength]="2"
      [maxLength]="128"
      [value]="currentRoleDescription"
      (valueChange)="currentRoleDescription = $event"
      (incorrectInput)="incorrectCurrentRoleDescription = $event"
    />

<!--  Checkboxes and save changes function  -->
    <basic-button
      [onWhite]="true"
      [label]="t('button.saveChanges')"
    />

    <div class="last-button">
      <basic-button
        [onWhite]="true"
        [danger]="true"
        [label]="t('button.deleteRole')"
        (buttonClick)="deleteRole(currentRoleName)"
      />
    </div>
  </basic-modal>

  <basic-modal
    [header]="t('settings.companySettingsSection.createNewRoleHeader')"
    [description]="t('settings.companySettingsSection.createNewRoleDesc')"
    [showModal]="showCreateNewRoleModal"
    (closeModal)="closeCreateNewRoleModal()"
  >
    <basic-input
      [onWhite]="true"
      [label]="t('input.newRoleName')"
      [placeholder]="t('input.provideNewRoleName')"
      [inputDescription]="t('input.provideNewRoleNameDesc')"
      [errorMessage]="t('input.newRoleNameError')"
      [minLength]="2"
      [maxLength]="64"
      [value]="newRoleName"
      (valueChange)="newRoleName = $event"
      (incorrectInput)="incorrectNewRoleName = $event"
    />
    <basic-input
      [onWhite]="true"
      [label]="t('input.newRoleDescription')"
      [placeholder]="t('input.provideNewRoleDescription')"
      [inputDescription]="t('input.provideNewRoleDescriptionDesc')"
      [errorMessage]="t('input.newRoleDescriptionError')"
      [minLength]="2"
      [maxLength]="128"
      [value]="newRoleDescription"
      (valueChange)="newRoleDescription = $event"
      (incorrectInput)="incorrectNewRoleDescription = $event"
    />

    <basic-checkbox
      [checked]="false"
      [isWithDescription]="true"
      (checkedChange)="pushNewRoleScope('USER_MANAGEMENT')"
    >
      <span class="on-white-checkbox" content>{{ t('scopes.USER_MANAGEMENT') }}</span>
      <span class="on-white-checkbox-desc" desc>{{ t('scopes.USER_MANAGEMENT_DESC') }}</span>
    </basic-checkbox>

    <basic-checkbox
      [checked]="false"
      [isWithDescription]="true"
      (checkedChange)="pushNewRoleScope('ROLES_MANAGEMENT')"
    >
      <span class="on-white-checkbox" content>{{ t('scopes.ROLES_MANAGEMENT') }}</span>
      <span class="on-white-checkbox-desc" desc>{{ t('scopes.ROLES_MANAGEMENT_DESC') }}</span>

    </basic-checkbox>

    <basic-checkbox
      [checked]="false"
      [isWithDescription]="true"
      (checkedChange)="pushNewRoleScope('COMPANY_INFORMATION_MANAGEMENT')"
    >
      <span class="on-white-checkbox" content>{{ t('scopes.COMPANY_INFORMATION_MANAGEMENT') }}</span>
      <span class="on-white-checkbox-desc" desc>{{ t('scopes.COMPANY_INFORMATION_MANAGEMENT_DESC') }}</span>
    </basic-checkbox>

    <div class="last-button">
      <basic-button
        [onWhite]="true"
        [label]="t('button.createNewRole')"
        [disabled]="disableCreateNewRoleButton()"
        (buttonClick)="createNewRole()"
      />
    </div>
  </basic-modal>

</ng-container>
