@import 'variables';

.pagination-container {
  display: flex;
}

.items-per-page-input {
  width: 70px;
}

.pagination-button-container {
  display: flex;
  max-width: 300px;
}

.pagination-button {
  width: 50%;
}
