<div class="pagination-container">
  <basic-button
    [label]="'<<'"
  />
  <basic-button
    [label]="'<'"
  />

  <basic-button
    [label]="'1'"
  />
  ...
  <basic-button
    [label]="totalPages.toString()"
  />

  <basic-button
    [label]="'>'"
  />
  <basic-button
    [label]="'>>'"
  />

  <basic-dropdown
    class="items-per-page-input"
    [options]="itemsPerPageOptions"
    [defaultValue]="selectedPaginationOption"
    (selectedOption)="setNewItemsPerPage($event)"
  />

  Total pages: {{ totalPages }}
  Total items: {{ totalItems }}
</div>
